<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-justified">
                <li>
                    <a routerLink="/admin/job/post" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">ADD POST</a>
                </li>
                <li>
                    <a routerLink="/admin/candidate/list" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">CANDIDATE LIST</a>
                </li>
                <li>
                    <a routerLink="/admin/job/report" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">CANDIDATE REPORT</a>
                </li>
                <li>
                    <a href="../../assets/images/Amazon.pdf" target="_blank" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">PHYSICAL TEST REPORT</a>
                </li>
                <li>
                    <a routerLink="/admin/candidate/list" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">SMS/IVR</a>
                </li>
                <li>
                    <a routerLink="/admin/job/exam" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;"> Examination </a>
                </li>
                <li>
                    <a routerLink="/admin/login" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">LOGOUT</a>
                </li>
            </ul>
        </div>
    </div>



    <div class="row-fluid">
        <div class="col-sm-12" style="border:1px solid black; margin-top:10px;">
            <div class="row">
                <h5 style=" font-size:1.3em; border-bottom:3px solid Crimson; padding-left:30px ;">
                    <b>Add Post</b> &nbsp;
                    <!-- <a href="" data-toggle="tooltip" title="Refresh">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </a> -->
                </h5>
                <br>
            </div>
            <form class="form-horizontal" (ngSubmit)="myForm.form.valid && saveJob()" #myForm="ngForm" nonvalidate>
              <!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading> -->
                <div class="row">
                    <div style="text-align: center;"  *ngIf="successField">
                      <h3><mark style="background-color:#ffffa0; color:green;">Job created successfully!</mark></h3>
                      </div>
                    <div class="table-responsive">
                        
                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th style="text-align:center;">Post Name</th>
                                    <th style="text-align:center;">Post Description</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let ad of admin; let i = index; let first = first; let last = last;">
                                    <td>
                                        <input type="text" class="form-control" placeholder="Add Post Name" name="postName{{i}}" maxlength="50" [(ngModel)]="ad.jobTitle" #postName="ngModel" required>
                                        <div *ngIf="postName.invalid && myForm.submitted" class="help-block">
                                            <div *ngIf="postName.errors.required">
                                                Please Enter Job Name.
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="Add Post Description" name="postDesc{{i}}" maxlength="50" [(ngModel)]="ad.jobDesc" #postDesc="ngModel" required>
                                        <div *ngIf="postDesc.invalid && myForm.submitted" class="help-block">
                                            <div *ngIf="postDesc.errors.required">
                                                Please Enter Job Description.
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <!-- <span class="glyphicon glyphicon-trash" style="color:red"></span> -->
                                        <a class="glyphicon glyphicon-plus clickPoint" data-toggle="tooltip" title="Add" style="color:green" (click)="addPost()" *ngIf="last && i < 9"></a> &nbsp;
                                        <a class="glyphicon glyphicon-trash clickPoint" data-toggle="tooltip" title="Delete" style="color:red" (click)="removePost(i)" *ngIf="!first"></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group" style="text-align:center;">
                    <div class="col-sm-12">
                        <button class="btn btnc btnc btn-success" style="margin-bottom:10px; box-shadow: 6px 6px 3px LightGrey;">Save
                        </button>
                       
                    </div>
                    <div *ngIf=authenticationError>
                            
                                    <p style="color:red;">Oops!Something went wrong.</p>
                                </div>
                </div>
            </form>
            <hr class="horizontal_row" />
            <br/>
            <form class="form-horizontal">
                <div class="row">
                        <div style="text-align: center;"  *ngIf="deleteField">
                            <h3><mark style="background-color:#ffffa0; color:green;">Job Deleted successfully!</mark></h3>
                        </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>S No.</th>
                                    <th>Post Name</th>
                                    <th>Post Description</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let job of jobList | paginate: { itemsPerPage: 5, currentPage: p }; let i = index;">
                                    <td>
                                        {{i+1}}
                                    </td>
                                    <td>
                                        {{job.jobTitle}}
                                    </td>
                                    <td>
                                        {{job.jobDesc}}
                                    </td>
                                    <td>
                                        <!-- <a class="glyphicon glyphicon-pencil pointer" data-toggle="tooltip" title="Edit" style="color:blue" (click)="editJob(job)"></a> &nbsp; -->
                                        <a class="glyphicon glyphicon-trash pointer" data-toggle="tooltip" title="Delete" style="color:red" (click)="removeJob(job)"></a> &nbsp;
                                        <button class="btn btn-sm btn-primary"  title="Add Job Field" style="margin-bottom:10px; box-shadow: 6px 6px 3px LightGrey;" (click)="addJobFields(job)">Add Job field </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="form-group" style="text-align:center;">
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </div>
        
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>