<div class="container">
    <hr style="border: 2px solid DarkRed" />​
    <div class="row">

        <div class="col-sm-12" style="margin-top:5px;text-align:center;">
            <form class="form-inline" #adminForm="ngForm" (ngSubmit)="adminForm.form.valid && loginAdmin()" novalidate>
                <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
                 <div class="form-group" [ngClass]="{ 'has-error': adminForm.submitted && !adminname.valid }"> 
                    <input type="text" class="form-control col-sm-1" name="adminname" placeholder="Enter user id" maxLength="50" [(ngModel)]="admin.username"
                        #adminname="ngModel" required>
                    <!-- <div *ngIf="adminForm.controls.userControl.invalid && (adminForm.controls.userControl.dirty || !adminForm.controls.userControl.touched)">
                        <div class="help-block" *ngIf="adminForm.controls.userControl.errors.required && !submitted">Required</div>
                    </div> -->
                    <div *ngIf="adminForm.submitted && !adminname.valid" class="help-block">User id is required</div>
                </div>
                 <div class="form-group" [ngClass]="{ 'has-error': adminForm.submitted && !password.valid }"> 
                    <input type="password" class="form-control col-sm-1" name="password" placeholder="Enter password" maxLength="20" [(ngModel)]="admin.password" #password="ngModel" required>
                    <!-- <div *ngIf="adminForm.controls.passwordControl.invalid && (adminForm.controls.passwordControl.dirty || !adminForm.controls.passwordControl.touched)">
                        <div class="help-block" *ngIf="adminForm.controls.passwordControl.errors.required && !submitted">Required</div>
                        <div class="help-block" *ngIf="adminForm.controls.passwordControl.errors.minlength && !submitted">minimum 6 character</div>
                    </div> -->
                    <div *ngIf="adminForm.submitted && !password.valid" class="help-block">Passsword is required</div>
                </div>
                <button type="submit" class="btn btn-primary">Login
                    
                </button>
            
                <div class="row" >
                        <a routerLink="/admin/registration" style="color:Blue;padding-right:50px;">New Registration</a>
                      
                    </div>
           
                <div *ngIf=authenticationError>
                    <p style="color:red;padding-right:50px;">Please Check Your Credential</p>
                </div>
            </form>
        </div>
    </div>
    <br>

    <carousel>
        <slide>
            <img src="../../assets/images/border1.jpg" alt="First slide">
        </slide>
        <slide>
            <img src="../../assets/images/border2.jpg" alt="Second slide">
        </slide>
        <slide>
            <img src="../../assets/images/border3.jpg" alt="Third slide">
        </slide>
        <slide>
            <img src="../../assets/images/border4.jpg" alt="Second slide">
        </slide>
        <slide>
            <img src="../../assets/images/border5.jpg" alt="Third slide">
        </slide>
    </carousel>
    <div class="navbar navbar-primary navbar-fixed-bottom">
        <div class="container">
            <p style="text-align: center;">Copyright © 2017 -
                <a href="http://www.ysssolutions.net"> Border  Roads Organization</a>
            </p>
        </div>
    </div>
</div>