<div class="container">
    <hr style="border: 2px solid DarkRed" />​
    <br><br>
    <div class="row">
            <popup> </popup>
        <div class="col-sm-offset-3 col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" align="center"><b>Candidate Login</b></h3>
                </div>

                <div class="panel-body">

                    <form class="form-horizontal" (ngSubmit)="loginForm.form.valid && login()" #loginForm="ngForm" novalidate>
                        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

                        <div class="form-group">
                            <label class="control-label col-sm-5">Registration No: </label>
                            <div class="col-sm-6" [ngClass]="{ 'has-error': loginForm.submitted && !username.valid }">
                                <input type="text" class="form-control" name="username" placeholder="Enter Your Registration" [(ngModel)]="candidate.username"
                                    #username="ngModel" required maxLength="20">
                                    <!-- <div *ngIf="loginForm.controls.registration.invalid && (loginForm.controls.registration.dirty || loginForm.controls.registration.touched)">
                                    <div class="help-block" *ngIf="loginForm.controls.registration.errors.required && !submitted">Required</div>
                                    <div class="help-block" *ngIf="loginForm.controls.registration.errors.minlength && !submitted">minimum 6 character</div>
                                </div> -->
                                    <div *ngIf="loginForm.submitted && !username.valid" class="help-block">Registration number is required</div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-sm-5" required>Password: </label>
                            <div class="col-sm-6" [ngClass]="{ 'has-error': loginForm.submitted && !password.valid }">
                                <input type="password" class="form-control" name="password" [(ngModel)]="candidate.password" placeholder="Enter Your Password"
                                    #password="ngModel" required maxLength="20">
                                    <!-- <div *ngIf="loginForm.controls.loginPassword.invalid && (loginForm.controls.loginPassword.dirty || !loginForm.controls.loginPassword.touched)">
                                    <div class="help-block" *ngIf="loginForm.controls.loginPassword.errors.required && !submitted">Required</div>
                                    <div class="help-block" *ngIf="loginForm.controls.loginPassword.errors.minlength && !submitted">minimum 6 character</div>
                                </div> -->
                                    <div *ngIf="loginForm.submitted && !password.valid" class="help-block">Password is required</div>
                                    <!--                                  
                                <div *ngIf="loginPassword.errors && (loginPassword.dirty || loginPassword.touched)" class="alert alert-danger">
                                    <div [hidden]="!loginPassword.errors.required">
                                        Name is required
                                    </div>
                                    <div [hidden]="!loginPassword.errors.minlength">
                                        Name must be at least 4 characters long.
                                    </div>
                                    <div [hidden]="!loginPassword.errors.maxlength">
                                        Name cannot be more than 24 characters long.
                                    </div>
                                </div>  -->
                            </div>

                        </div>



                        <div class="form-group" style="padding-left:100px;transform:scale(0.77);transform-origin:0 0;">
                            <div class="col-sm-offset-4 col-sm-5">
                                <re-captcha (resolved)="resolved($event)" siteKey="6LcOuyYTAAAAAHTjFuqhA52fmfJ_j5iFk5PsfXaU" [(ngModel)]="candidate.captcha"
                                    name="captchaname" #captchaname="ngModel" required></re-captcha>
                                    <div *ngIf="loginForm.submitted && !captchaname.valid" class="help-block">Captcha must be solved</div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-5 col-sm-6">
                                <!-- <input type="button" style="height:30px;width:90px" class="btn btn-danger" value="Login"> -->
                                <button class="btn btn-danger">Login  </button>
                                
                            </div>
                            <div class=col-sm-offset-4 *ngIf=authenticationError>
                                    <p style="color:red;padding-right:50px;">Please Check Your Credential</p>
                            </div>
                        </div>



                    </form>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8" style="text-align:center">
                            <a routerLink="/apply" style="color:red">
                                <ins>New Registration</ins>
                            </a>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8" style="text-align:center">
                            <a routerLink="/password/reset" style="color:red">
                                <ins>Forgot Password or Registration no.? </ins>
                            </a>
                        </div>
                    </div>


                </div>


            </div>
        </div>
    </div>

</div>