<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-justified">
                <!--<li>
                    <a routerLink="/candidate/login/preview" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Basic Detail</a>
                </li>
                <li>
                    <a routerLink="/candidate/login/preview" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Upload Photo & Signature</a>
                </li>-->
                <li>
                    <a routerLink="" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Preview</a>
                </li>
                <li>
                    <a routerLink="" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Payment</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row-fluid">
        <div class="col-sm-12" style="border:1px solid black; margin-top:10px;">
            <div class="row">
                <h5 style=" font-size:1.3em; border-bottom:3px solid Crimson; padding-left:30px ;">
                    <b>Preview</b>
                </h5>
                <br>
            </div>
            <form>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="table table-bordered">
                            <table class="table table-hover">

                                <tr>
                                    <td>Registration No:</td>
                                    <td>{{personals.registrationId}}</td>
                                </tr>
                                <tr>
                                    <td>POST NAME:</td>
                                    <td>{{personals.jobDetails.postName}}</td>
                                </tr>

                                <tr>
                                    <td>Recruitment Zone:</td>
                                    <td>{{personals.recruitmentZone}}</td>
                                </tr>

                                <tr>
                                    <td>Candidate's First Name:</td>
                                    <td>{{personals.firstName}}</td>
                                </tr>

                                <tr>
                                    <td>Candidate's Middle Name:</td>
                                    <td>{{personals.middleName}}</td>
                                </tr>

                                <tr>
                                    <td>Candidate's Last Name:</td>
                                    <td>{{personals.lastName}}</td>
                                </tr>

                                <tr>
                                    <td>Father's Name </td>
                                    <td>{{personals.fatherName}}</td>
                                </tr>

                                <tr>
                                    <td>Mother's Name</td>
                                    <td>{{personals.motherName}}</td>
                                </tr>

                                <tr>
                                    <td>Category</td>
                                    <td>{{personals.category}}</td>
                                </tr>

                                <tr>
                                    <td>DOB </td>
                                    <td>{{personals.dateOfBirth | date:'dd-MM-yyyy'}}</td>
                                </tr>

                                <tr>
                                    <td>Mobile Number </td>
                                    <td>{{personals.mobileNumber}}</td>
                                </tr>

                                <tr>
                                    <td>Email</td>
                                    <td>{{personals.emailAddress}}</td>
                                </tr>

                                <tr>
                                    <td>Nationality</td>
                                    <td>{{personals.nationality}}</td>
                                </tr>

                                <tr>
                                    <td>Aadhaar Card:</td>
                                    <td *ngIf="personals.aadhaarCard === true">Yes</td>
                                    <td *ngIf="personals.aadhaarCard === false">No</td>
                                                
                                </tr>
    
                                <tr>
                                    <td>Aadhaar No.:</td>
                                    <td *ngIf="personals.aadhaarCard === true">{{personals.aadhaarNumber}}</td>
                                    <td *ngIf="personals.aadhaarCard === false">No</td>
                                               
                                </tr>

                                <tr>
                                    <td>Marital Status: </td>
                                    <td>{{personals.maritalStatus}}</td>
                                </tr>

                                <tr>
                                    <td>Minority community:</td>
                                    <td *ngIf="personals.belongCommunity === true">Yes</td>
                                    <td *ngIf="personals.belongCommunity === false">No</td>
                                                
                                </tr>
                                <tr>
                                    <td>Community:</td>
                                    <td *ngIf="personals.belongCommunity === true">{{personals.communityName}}</td>
                                    <td *ngIf="personals.belongCommunity === false">No</td>
                                                
                                </tr>

                                 <tr>
                                            <td>Height</td>
                                            <td>{{personals.candidateHeight}}</td>
                                        </tr>
                                        
                                         <tr>
                                            <td>Weight</td>
                                            <td>{{personals.candidateWeight}}</td>
                                        </tr>

                                         <tr>
                                            <td>Blood Group</td>
                                            <td>{{personals.bloodGroup}}</td>
                                        </tr>

                                         <tr>
                                            <td>EyeSight</td>
                                            <td>{{personals.eyeSight}}</td>
                                        </tr>
                                                 

                                <tr>
                                    <td>Permanent Address</td>
                                    <td>{{personals.permanentAddress}}, {{personals.permanentCity}}, {{personals.permanentState}},
                                        {{personals.permanentPincode}}</td>
                                </tr>

                            </table>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="table-responsive table table-bordered">
                            <table class="table">

                                <tr>
                                    <td>Postal Address: </td>
                                    <td>{{personals.postalAddress}}, {{personals.postalCity}}, {{personals.postalState}}, {{personals.postalPincode}}</td>
                                </tr>


                                <tr>
                                    <td>Payment</td>
                                    <td>{{personals.payment}}</td>
                                </tr>

                                  <tr>
                                    <td>Working/Ex-Staff of Central Government:</td>
                                    <td *ngIf="personals.sonDaughterExservice === true">Yes</td>
                                    <td *ngIf="personals.sonDaughterExservice === false">No</td>

                                </tr>
                                 <tr>
                                        <td>Date:</td>
                                        <td *ngIf="personals.centralGovt === true">{{personals.servedFrom | date:'dd-MM-yyyy'}}</td>
                                         <td *ngIf="personals.centralGovt === true">{{personals.servedTo | date:'dd-MM-yyyy'}}</td>
                                        <td *ngIf="personals.centralGovt === false">No</td>
                                          
                                    </tr>

                                    <tr>
                                    <td>Employee/Ex-Employee of GREF/BRO:</td>
                                    <td *ngIf="personals.sonDaughterExservice === true">Yes</td>
                                    <td *ngIf="personals.sonDaughterExservice === false">No</td>

                                </tr>
                                 <tr>
                                        <td>Date:</td>
                                        <td *ngIf="personals.empExGref === true">{{personals.servedBroFrom | date:'dd-MM-yyyy'}}</td>
                                         <td *ngIf="personals.empExGref === true">{{personals.servedBroTo | date:'dd-MM-yyyy'}}</td>
                                        <td *ngIf="personals.empExGref === false">No</td>
                                          
                                    </tr>
                                    <tr>
                                        <td>GS No:</td>
                                        <td *ngIf="personals.empExGref === true">{{personals.gsNumber}}</td>
                                        <td *ngIf="personals.empExGref === false">No</td>
                                          
                                    </tr>

                                <tr>
                                    <td>Son/Dau. Ex-serviceman:</td>
                                    <td *ngIf="personals.sonDaughterExservice === true">Yes</td>
                                    <td *ngIf="personals.sonDaughterExservice === false">No</td>

                                </tr>
                                    <tr>
                                        <td>Army No:</td>
                                        <td *ngIf="personals.sonDaughterExservice === true">{{personals.armyNumber}}</td>
                                        <td *ngIf="personals.sonDaughterExservice === false">No</td>
                                          
                                    </tr>

                                    <tr>
                                        <td>Rank:</td>
                                        <td *ngIf="personals.sonDaughterExservice === true">{{personals.armyRank}}</td>
                                        <td *ngIf="personals.sonDaughterExservice === false">No</td>
                                    
                                    </tr>
                                    <tr>
                                        <td>Son/Dau serving/retired GREF per:</td>
                                        <td *ngIf="personals.sonDaughterGref === true">Yes</td>
                                        <td *ngIf="personals.sonDaughterGref === false">No</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>GS NO.:</td>
                                        <td *ngIf="personals.sonDaughterGref === true">{{personals.sonDaughterNumber}}</td>
                                        <td *ngIf="personals.sonDaughterGref === false">No</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>Rank:</td>
                                        <td *ngIf="personals.sonDaughterGref === true">{{personals.sonDaughterRank}}</td>
                                        <td *ngIf="personals.sonDaughterGref === false">No</td>
                                       
                                    </tr>
                                    <tr>
                                        <td>Name:</td>
                                        <td *ngIf="personals.sonDaughterGref === true">{{personals.sonDaughterName}}</td>
                                        <td *ngIf="personals.sonDaughterGref === false">No</td>
                                        
                                    </tr>

                                    <tr>
                                        <td>Brot/Sis serving in GREF/Army:</td>
                                        <td *ngIf="personals.brotherSisterGref === true">Yes</td>
                                        <td *ngIf="personals.brotherSisterGref === false">No</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>Army/GS No:</td>
                                        <td *ngIf="personals.brotherSisterGref === true">{{personals.brotherSisterNumber}}</td>
                                        <td *ngIf="personals.brotherSisterGref === false">No</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>Rank:</td>
                                        <td *ngIf="personals.brotherSisterGref === true">{{personals.brotherSisterRank}}</td>
                                        <td *ngIf="personals.brotherSisterGref === false">No</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>Name:</td>
                                        <td *ngIf="personals.brotherSisterGref === true">{{personals.brotherSisterName}}</td>
                                        <td *ngIf="personals.brotherSisterGref === false">No</td>
                                        
                                    </tr>
                                <!-- <tr>
                                    <td>Son of Ex-serviceman: {{personals.sonDaughterExservice}}</td>
                                    <td *ngIf="personals.sonDaughterExservice == true">
                                        Army No: {{personals.armyNumber}}
                                        <br> Rank: {{personals.armyRank}}</td>
                                </tr>

                                <tr>
                                    <td>Son of serving/retired GREF per: {{personals.sonDaughterGref}}</td>
                                    <td *ngIf="personals.sonDaughterGref == true">
                                        <br> GS No: {{personals.sonDaughterNumber}}
                                        <br> Rank:{{personals.sonDaughterRank}}
                                        <br> Name:{{personals.sonDaughterName}}
                                    </td>
                                </tr>

                                <tr>
                                    <td>Brother serving in GREF/Army: {{personals.brotherSisterGref}}</td>
                                    <td *ngIf="personals.brotherSisterGref == true">
                                        Army/GS No:{{personals.brotherSisterNumber}}
                                        <br> Rank:{{personals.brotherSisterRank}}
                                        <br> Name:{{personals.brotherSisterName}}
                                    </td>
                                </tr> -->

                            </table>
                        </div>
                    </div>

                    <tr>
                        <td>Photo :</td>
                        <td>
                            <img src="../../../assets/images/{{personals.registrationId}}/{{personals.certificate.browsePhoto}}" style="width:200px;height:200px;">
                        </td>
                    </tr>

                    <tr>
                        <td>Signature :</td>
                        <td><img src="../../../assets/images/{{personals.registrationId}}/{{personals.certificate.browseSignature}}"style="width:200px;height:50px;"></td>
                    </tr>



                </div>
                <div class="row" style="padding-left:20px;">
                    <h4>
                        <u>
                            <b>High School</b>

                        </u>
                    </h4>
                    <div class="table-responsive">
                        <table class="table borderless">
                            <thead>
                                <tr>
                                    <th>Year Of Passing</th>
                                    <th>Institution</th>
                                    <th>Specialization</th>
                                    <th>Course Type</th>
                                    <th>Board</th>
                                    <th>Total Marks</th>
                                    <th>Obtained Marks</th>
                                    <th>Percentage/Grade</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>{{personals.essential.highYear}}</td>
                                    <td>{{personals.essential.highInstitution}}</td>
                                    <td>{{personals.essential.highSpecialization}}</td>
                                    <td>{{personals.essential.highCourseType}}</td>
                                    <td>{{personals.essential.highBoard}}</td>
                                    <td>{{personals.essential.highTotalMarks}}</td>
                                    <td>{{personals.essential.highObtainMarks}}</td>
                                    <td>{{personals.essential.highPercentage}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr>
                <div class="row" style="padding-left:20px;">
                    <h4>
                        <u>
                            <b>Intermediate</b>
                        </u>
                    </h4>
                    <br>
                    <div class="table-responsive">
                        <table class="table borderless">
                            <thead>
                                <tr>
                                    <th>Year Of Passing</th>
                                    <th>Institution</th>
                                    <th>Specialization</th>
                                    <th>Course Type</th>
                                    <th>Board</th>
                                    <th>Total Marks</th>
                                    <th>Obtained Marks</th>
                                    <th>Percentage/Grade</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>{{personals.essential.interYear}}</td>
                                    <td>{{personals.essential.interInstitution}}</td>
                                    <td>{{personals.essential.interSpecialization}}</td>
                                    <td>{{personals.essential.interCourseType}}</td>
                                    <td>{{personals.essential.interBoard}}</td>
                                    <td>{{personals.essential.interTotalMarks}}</td>
                                    <td>{{personals.essential.interMarksObtain}}</td>
                                    <td>{{personals.essential.interPercentage}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr>
                <div class="row" style="padding-left:20px;">
                    <h4>
                        <u>
                            <b>Graduation</b>
                        </u>
                    </h4>
                    <br>
                    <div class="table-responsive">
                        <table class="table borderless">
                            <thead>
                                <tr>
                                    <th>Year of Passing</th>
                                    <th>Graduation Level</th>
                                    <th>Specialization</th>
                                    <th>Institution</th>
                                    <th>Course Type</th>
                                    <th>University</th>
                                    <th>Total Marks</th>
                                    <th>Obtained Marks</th>
                                    <th>Percentage</th>

                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>{{personals.graduation.ugPassingYear}}</td>
                                    <td>{{personals.graduation.ugCourse}}</td>
                                    <td>{{personals.graduation.ugSpecialization}}</td>
                                    <td>{{personals.graduation.ugInstitution}}</td>
                                    <td>{{personals.graduation.ugCourseType}}</td>
                                    <td>{{personals.graduation.ugUniversity}}</td>
                                    <td>{{personals.graduation.ugTotalMarks}}</td>
                                    <td>{{personals.graduation.ugObtainMarks}}</td>
                                    <td>{{personals.graduation.ugPercentage}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr>

                <hr>
                <div class="row" style="padding-left:20px;">
                    <h4>
                        <u>
                            <b>Diploma</b>
                        </u>
                    </h4>
                    <br>
                    <div class="table-responsive">
                        <table class="table borderless">
                            <thead>
                                <tr>
                                    <th>Year of Passing</th>
                                    <th>Diploma Level</th>
                                    <th>Specialization</th>
                                    <th>Course Type</th>
                                    <th>University</th>
                                    <th>Total Marks</th>
                                    <th>Obtained Marks</th>
                                    <th>Percentage</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>{{personals.technical.diplomaYear}}</td>
                                    <td>{{personals.technical.diplomaBranch}}</td>
                                    <td>{{personals.technical.diplomaSpecialization}}</td>
                                    <td>{{personals.technical.diplomaCourseType}}</td>
                                    <td>{{personals.technical.diplomaUniversity}}</td>
                                    <td>{{personals.technical.diplomaTotalMarks}}</td>
                                    <td>{{personals.technical.diplomaObtainMarks}}</td>
                                    <td>{{personals.technical.diplomaPercentage}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr>
                <div class="row" style="padding-left:20px;">
                    <h4>
                        <u>
                            <b>Degree</b>
                        </u>
                    </h4>
                    <br>
                    <div class="table-responsive">
                        <table class="table borderless">
                            <thead>
                                <tr>
                                    <th>Year of Passing</th>
                                    <th>Degree Level</th>
                                    <th>Specialization</th>
                                    <th>Course Type</th>
                                    <th>University</th>
                                    <th>Total Marks</th>
                                    <th>Obtained Marks</th>
                                    <th>Percentage</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>{{personals.technical.degreeYear}}</td>
                                    <td>{{personals.technical.degreeBranch}}</td>
                                    <td>{{personals.technical.degreeSpecialization}}</td>
                                    <td>{{personals.technical.degreeCourseType}}</td>
                                    <td>{{personals.technical.degreeUniversity}}</td>
                                    <td>{{personals.technical.degreeTotalMarks}}</td>
                                    <td>{{personals.technical.degreeMarksObtain}}</td>
                                    <td>{{personals.technical.degreePercentage}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr>
                <div class="row" style="padding-left:20px;">
                    <h4>
                        <u>
                            <b>Experience</b>
                        </u>
                    </h4>
                    <br>
                    <div class="table-responsive">
                        <table class="table borderless">
                            <thead>
                                <tr>
                                    <th>Cin Number</th>
                                    <th>Company Name</th>
                                    <th>Employement From</th>
                                    <th>Employement To</th>
                                    <th>Monthly Salary</th>
                                    <th>Temprory/permanent</th>
                                    <th>Work Nature</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>{{personals.experience.cinNumber}}</td>
                                    <td>{{personals.experience.companyName}}</td>
                                    <td>{{personals.experience.employmentFrom | date:'dd-MM-yyyy' }}</td>
                                    <td>{{personals.experience.employmentTo | date:'dd-MM-yyyy'}}</td>
                                    <td>{{personals.experience.monthlySalary}}</td>
                                    <td>{{personals.experience.temporaryPermanent}}</td>
                                    <td>{{personals.experience.workNature}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr>
                <div class="row" style="padding-left:20px;">
                    <h4>
                        <u>
                            <b>Driving Licence</b>
                        </u>
                    </h4>
                    <br>
                    <div class="table-responsive">
                        <table class="table borderless">
                            <thead>
                                <tr>
                                    <th>Licence No</th>
                                    <th>Date of Issue</th>
                                    <th>Validity Upto</th>
                                    <th>Issuing Authority</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>{{personals.driving.licenceNumberLmv}}</td>
                                    <td>{{personals.driving.issueDateLmv | date:'dd-MM-yyyy'}}</td>
                                    <td>{{personals.driving.validUptoLmv | date:'dd-MM-yyyy'}}</td>
                                    <td>{{personals.driving.issuingAuthorityLmv}}</td>
                                </tr>
                                <tr>
                                    <td>{{personals.driving.licenceNumberHgmv}}</td>
                                    <td>{{personals.driving.issueDateHgmv | date:'dd-MM-yyyy'}}</td>
                                    <td>{{personals.driving.validUptoHgmv | date:'dd-MM-yyyy'}}</td>
                                    <td>{{personals.driving.issuingAuthorityHlmv}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- <div class="row" style="text-align:center;">
                    <div class="col-sm-12">
                        <label>Photo</label>
                        <img style="border:1px solid black;" hspace="20" class="img-rounded c_pic" alt="photo" width="200" height="200"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label>Signature</label>
                        <img style="border:1px solid black;" hspace="20" class="img-rounded s_pic" alt="signature" width="150" height="150">
                    </div>
                </div> -->

                <div class="row" style="text-align:center;">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="declare" checked>I hereby declare that all the information furnished above are true, complete and correct to the
                            best of my knowledge and belief and that in the event of any information being found false or
                            incorrect or ineligibility being detected before or after the examination / allotment, action
                            can be taken against me by the Commissioner for Entrance Examinations.</label>
                    </div>
                </div>
                <div class="form-group" style="text-align:center;">
                    <div class="col-sm-12">
                        <button class="btn btn-success" style="margin-bottom:10px; box-shadow: 6px 6px 3px LightGrey;" (click)="myprint()"> Print&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>