<div class="container">

    <div class="col-sm-offset-3 col-sm-6" *ngIf="!successDoc">
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
        <div class="panel panel-default" style="margin-top:60px;">
            <div class="panel-heading" style="padding-left: 200px; FONT-SIZE: large; FONT-STYLE: normal; color: rebeccapurple;">Registration</div>
            <form class="form-horizontal"  name="registrationForm" (ngSubmit)="registrationForm.form.valid && adminRegistration()" #registrationForm="ngForm" nonvalidate>
    
                <div class="form-group" style="margin-top:10px;">
                    <label class="control-label col-sm-3" for="FirstName">FirstName:</label>
                    <div class="col-sm-5" [ngClass]="{ 'has-error': registrationForm.submitted && !firstName.valid }">
                        <input type="text" maxlength="30" class="form-control"  placeholder="Enter FirstName" name="firstName" #firstName="ngModel" [(ngModel)]="admin.firstName" pattern="^[a-zA-Z ]*$" required>
                           <div *ngIf="firstName.invalid && registrationForm.submitted" class="help-block">
                                <div *ngIf="firstName.errors.required">
                                     Please Enter First Name.
                                </div>
                                    <div *ngIf="firstName.errors.pattern">
                                         Invalid Name.
                                     </div>
                            </div>
    
                    </div>
                        
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3" for="LastName">LastName:</label>
                    <div class="col-sm-5" [ngClass]="{ 'has-error': registrationForm.submitted && !lastName.valid }">
                        <input type="text" class="form-control"  maxlength="30" placeholder="Enter LastName" name="lastName" #lastName="ngModel" [(ngModel)]="admin.lastName" pattern="^[a-zA-Z ]*$" required >
                            <div *ngIf="lastName.invalid && registrationForm.submitted" class="help-block">
                                <div *ngIf="lastName.errors.required">
                                     Please Enter Last Name.
                                </div>
                                    <div *ngIf="lastName.errors.pattern">
                                         Invalid Name.
                                     </div>
                            </div>
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-sm-3" for="Zone">Zone:</label>
                    <div class="col-sm-5" [ngClass]="{ 'has-error': registrationForm.submitted && admin.zone == 0}">
                        <select [(ngModel)]="admin.zone" name="zone" #zone="ngModel" class="form-control"  required>
                            <option [disabled]="true" [value]="0">Select Zone</option>
                            <option *ngFor="let zon of zones" [value]="zon.name">{{zon.name}}</option>
                        </select>
                            <div *ngIf="admin.zone == 0">
                                <div *ngIf="registrationForm.submitted" class="help-block">
                                    Please Select Zone.
                                </div>
                            </div>
                    </div>
                </div>
 
                <div class="form-group">
                    <label class="control-label col-sm-3" for="role">Role:</label>
                    <div class="col-sm-5" [ngClass]="{ 'has-error': registrationForm.submitted && admin.role == 0}">
                        <select [(ngModel)]="admin.role" name="role" #role="ngModel" class="form-control"  required >
                            <option [disabled]="true" [value]="0">Select Role</option>
                            <option *ngFor="let rol of roles" [value]="rol.name">{{rol.name}}</option>
                        </select>
                             <div *ngIf="admin.role == 0">
                                <div *ngIf="registrationForm.submitted" class="help-block">
                                    Please Select Role.
                                </div>
                            </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3" for="email">Email:</label>
                    <div class="col-sm-5" [ngClass]="{ 'has-error': registrationForm.submitted && admin.email == valid}">
                        <input type="email" class="form-control" id="email" placeholder="Enter Email" name="email" #email="ngModel" [(ngModel)]="admin.email" maxlength="30"
                        pattern="[a-z0-9!#$%&'*+=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                        (change)="emailCheck(admin.email)" required>
                        <div *ngIf="email.invalid && registrationForm.submitted" class="help-block">
                            <div *ngIf="email.errors.required">
                                Please Enter  Email.
                            </div>
                                <div *ngIf="email.errors.pattern && !email.errors.minlength">
                                    Invalid Email.
                                </div>
                            </div>
                                <div *ngIf="emailExists" class="help-block">
                                    Email already exists! Please login.
                                </div>
                   </div>
                </div>
                   
                <div class="form-group">
                    <label class="control-label col-sm-3" for="pwd">Password:</label>
                    <div class="col-sm-5" [ngClass]="{ 'has-error': registrationForm.submitted && admin.pwd == valid}">
                        <input type="password" class="form-control" maxlength="20" placeholder="Enter password" name="pwd" #pwd="ngModel" [(ngModel)]="admin.password" required>
                           <div *ngIf="pwd.invalid && registrationForm.submitted" class="help-block">
                                <div *ngIf="pwd.errors.required">
                                     Please Enter Password.
                                </div>
                                    <div *ngIf="pwd.errors.pattern">
                                         Invalid Password.
                                     </div>
                            </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-10">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div *ngIf="successDoc" style="text-align: center;">
        <h3>
            <mark style="background-color:#ffffa0; color:green;">Admin created sucessfully! & Your Email ID is your User Id </mark>
            <br><br>
             <div class="row" >
        <div class="col-sm-offset-3 col-sm-5">
                        
                         <a routerLink="/admin/login" class="btn btn-primary" role="button">Login</a>
                    </div> 
             </div>
        </h3>
    </div>

</div>