<popup> </popup>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-justified">
                <li>
                    <a routerLink="/admin/job/post" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">ADD POST</a>
                </li>
                <li>
                    <a routerLink="/admin/candidate/list" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">CANDIDATE LIST</a>
                </li>
                <li>
                    <a routerLink="/admin/job/report" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">CANDIDATE REPORT</a>
                </li>
                <li>
                    <a href="../../assets/images/Amazon.pdf" target="_blank" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">PHYSICAL TEST REPORT</a>
                </li>
                <li>
                    <a routerLink="/admin/candidate/list" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">SMS/IVR</a>
                </li>
                <li>
                    <a routerLink="/admin/job/exam" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;"> Examination </a>
                </li>
                <li>
                    <a routerLink="/admin/login" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">LOGOUT</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row-fluid">
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
        <div class="col-sm-12" style="border:1px solid black; margin-top:10px;">
            <div class="row">
                <h5 style="font-size:1.3em; border-bottom:3px solid Crimson; padding-left:30px ;">
                    <b>Candidate Details</b>
                    <a (click)="getCandidateList()" data-toggle="tooltip" title="Refresh">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </a>
                </h5>
                <h4 class="text-center">
                    <strong>
                        <u>Total Count : {{candidateList.length}}</u>
                    </strong>
                </h4>
            </div>
            <br>
            <div>
                <form class="form-inline" (submit)="applyFilter()">
                    <div class="row" style="text-align:center;">
                        <div class="col-sm-12">
                            <label>Search By</label>
                            <div class="form-group">
                                <input type="text" size="8" class="form-control" [(ngModel)]="filter.registrationId" placeholder="Reg. id" name="registerId"
                                />
                            </div> &nbsp;
                            <div class="form-group">
                                <input type="text" size="8" class="form-control" [(ngModel)]="filter.candidateName" placeholder="Cand. Name" name="cname"
                                />
                            </div>&nbsp;
                            <div class="form-group">
                                <input type="text" size="8" class="form-control" [(ngModel)]="filter.postName" placeholder="Cand Post" name="pname" />
                            </div>
                            &nbsp;&nbsp;
                            <div class="form-group">
                                <label>Caste</label>
                                <select class="form-control" [(ngModel)]="filter.category" name="category">
                                    <option value="">Select</option>
                                    <option value="GENERAL">GENERAL</option>
                                    <option value="SC">SC</option>
                                    <option value="ST">ST</option>
                                    <option value="OBC">OBC</option>
                                    <option value="PH">PH</option>
                                    <option value="PH">ESM</option>
                                </select>
                            </div>
                            &nbsp; &nbsp;
                            <div class="form-group">
                                <label>Edu</label>
                                <select class="form-control" [(ngModel)]="filter.qualification" name="qualification">
                                    <option value="">Select</option>
                                    <option value="HighSchool">High School</option>
                                    <option value="Intermediate">Intermediate</option>
                                    <option value="Graduation">Graduation</option>
                                    <option value="PostGraduation">PostGraduation</option>
                                    <option value="Diploma">Diploma</option>
                                    <option value="Degree">Degree</option>
                                </select>
                            </div>
                            &nbsp; &nbsp;
                            <div class="form-group">
                                <label>Per</label>
                                <div class="form-group">
                                    <input type="text" size="8" class="form-control" [(ngModel)]="filter.percentage" placeholder="Cand Post" name="percentage"
                                    />
                                </div>
                            </div>
                            &nbsp; &nbsp;
                            <div class="form-group">
                                <label>Grade</label>
                                <select class="form-control">
                                    <option value="">Select</option>
                                    <option value="A"> A</option>
                                    <option value="B">B</option>
                                    <option value="C">C</option>
                                    <option value="D">D</option>
                                    <option value="E">E</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12 form-inline" style="text-align:center;">
                            <label class="checkbox-inline">
                                <input type="checkbox" [(ngModel)]="filter.nccb" name="nccCert">
                                <b>NccC</b>
                            </label>&nbsp;&nbsp;
                            <label class="checkbox-inline">
                                <input type="checkbox" [(ngModel)]="filter.nccc" name="ncbCert">
                                <b>NccB</b>
                            </label>&nbsp;&nbsp;
                            <label class="checkbox-inline">
                                <input type="checkbox" [(ngModel)]="filter.disable" name="disablit">
                                <b>Disability</b>
                            </label>&nbsp;&nbsp;
                            <label class="checkbox-inline">
                                <input type="checkbox" [(ngModel)]="filter.nonindian" name="nindian">
                                <b>Non-Indian</b>
                            </label>&nbsp;&nbsp;
                            <label class="checkbox-inline">
                                <input type="checkbox" [(ngModel)]="filter.sportsman" name="sports">
                                <b>Sportsman</b>
                            </label>&nbsp;&nbsp;
                            <label class="checkbox-inline">
                                <input type="checkbox" [(ngModel)]="filter.sondaughterEsm" name="esm">
                                <b>Son/Daug. of Esm</b>
                            </label>&nbsp;&nbsp;
                            <label class="checkbox-inline">
                                <input type="checkbox" [(ngModel)]="filter.sondaughterGref" name="serret">
                                <b>Son/Daug. of ser/ret GREF</b>
                            </label>&nbsp;&nbsp;
                            <label class="checkbox-inline">
                                <input type="checkbox" [(ngModel)]="filter.brosister" name="barmy">
                                <b>Bro/Sis ser. in GREF/Army</b>
                            </label>&nbsp;&nbsp;
                            <label class="checkbox-inline">
                                <input type="checkbox" [(ngModel)]="filter.centrakgov" name="cgovt">
                                <b>Working/Ex. in ctrl govt</b>
                                
                                
                              </label>&nbsp;&nbsp;
                            <label class="checkbox-inline">
                                    <input type="checkbox" [(ngModel)]="filter.age" name="age">
                              <b> Age </b>
                            </label>&nbsp;&nbsp;
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group-inline" style="text-align:center;">
                                <button class="btn btn-danger" style=" box-shadow: 6px 6px 3px LightGrey;">SEARCH</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <br>
            <br>
            <div class="row" *ngIf="!noContent">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Reg. No</th>
                                <th>Post</th>
                                <th>Name</th>
                                <th>Caste</th>
                                <th>D.O.B</th>
                                <th>Age</th>
                                <th>Fee Status</th>
                                <th>Citizenship</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let lists of candidateList | orderBy: key : reverse | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
                                <td>{{lists.registrationId}}</td>
                                <td>{{lists.jobDetails.postName}}</td>
                                <td>{{lists.firstName}} {{lists.middleName}} {{lists.lastName}}</td>
                                <td>{{lists.category}}</td>
                                <td>{{lists.dateOfBirth | date:'dd/mm/yyyy'}}</td>
                                <td>{{lists.age }}</td>
                                <th>FEE</th>
                                <th>{{lists.nationality}}</th>

                                <!-- <td><a href="#"><span data-toggle="tooltip" title="Search" class="glyphicon glyphicon-search"></span></a></td> -->
                                <td>
                                    <a (click)="openModal(lists)" class="btn btn-success" data-placement="bottom" title="Details">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </a>
                                    <a (click)="createPdf(lists)" class="btn btn-success" data-placement="bottom" title="Details">AdmitCard
                                            <span class="glyphicon glyphicon-send"></span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row" style="text-align:center;">
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>

            <div *ngIf="noContent">
                {{message}}
            </div>
        </div>
    </div>
</div>

<!-- <template #template> -->
<!-- <div *ngIf="modalPopup"> -->
<!-- <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-body">
                <div class="panel-heading" style="text-align:center">
                    <b>About Candidate</b>
                </div>
                <div class="panel-body">
    
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="table table-bordered">
                                <table class="table table-hover">
    
                                    <tr>
                                        <td>Candiate's Photo</td>
                                        <td>Candiate's Signature</td>
                                    </tr>
                                    <tr>
                                        <td>Registration No:</td>
                                        <td>123456</td>
                                    </tr>
    
                                    <tr>
                                        <td>POST NAME:</td>
                                        <td>JUNIOR ENGINEER(CIVIL)</td>
                                    </tr>
    
                                    <tr>
                                        <td>Recruitment Zone:</td>
                                        <td>RISHIKESH</td>
                                    </tr>
    
                                    <tr>
                                        <td>Candidate's Full Name:</td>
                                        <td>MANJIT KUMAR SINGH</td>
                                    </tr>
                                    <tr>
                                        <td>Father's Name:</td>
                                        <td>RAM KUMAR</td>
                                    </tr>
    
                                    <tr>
                                        <td>Mother's Name:</td>
                                        <td>SARLA</td>
                                    </tr>
    
                                    <tr>
                                        <td>Category:</td>
                                        <td>OBC</td>
                                    </tr>
                                    <tr>
                                        <td>Date Of Birth:</td>
                                        <td>11-10-1994</td>
                                    </tr>
                                    <tr>
                                        <td>Age As on(Date):</td>
                                        <td>24 YEAR 9 MONTH 5 DAYS</td>
                                    </tr>
                                    <tr>
                                        <td>Gender:</td>
                                        <td>Male</td>
                                    </tr>
    
                                    <tr>
                                        <td>Mobile Number:</td>
                                        <td>9711953526</td>
                                    </tr>
    
                                    <tr>
                                        <td>Email:</td>
                                        <td>ABC@GMAIL.COM</td>
                                    </tr>
    
                                    <tr>
                                        <td>Nationality:</td>
                                        <td>INDIAN</td>
                                    </tr>
    
                                    <tr>
                                        <td>Aadhaar Card:</td>
                                        <td>YES</td>
                                    </tr>
    
                                    <tr>
                                        <td>Aadhaar Number:</td>
                                        <td>852074569657</td>
                                    </tr>
    
                                    <tr>
                                        <td>Marital Status: </td>
                                        <td>UNMARRIED</td>
                                    </tr>
    
                                    <tr>
                                        <td>Minority community:</td>
                                        <td>YES</td>
                                    </tr>
                                    <tr>
                                        <td>Community:</td>
                                        <td>BUDDHISTS</td>
                                    </tr>
    
                                    <tr>
                                        <td>Permanent Address:</td>
                                        <td>35/7 AJANTA COLONY</td>
                                    </tr>
    
                                    <tr>
                                        <td>State:</td>
                                        <td>UTTAR PRADESH</td>
                                    </tr>
                                    <tr>
                                        <td>City:</td>
                                        <td>MEERUT</td>
                                    </tr>
    
                                    <tr>
                                        <td>Pincode:</td>
                                        <td>250004</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="table-responsive">
                                <table class="table table table-bordered">
    
                                    <tr>
                                        <td>Whether Son/Daughter of Ex-serviceman:</td>
                                        <td>Yes</td>
    
                                    </tr>
                                    <tr>
                                        <td>Army No:</td>
                                        <td>345654</td>
    
                                    </tr>
    
                                    <tr>
                                        <td>Rank:</td>
                                        <td>JC</td>
    
                                    </tr>
                                    <tr>
                                        <td>Whether Son/Daughter of serving/retired GREF per:</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td>GS NO.:</td>
                                        <td>1234</td>
                                    </tr>
                                    <tr>
                                        <td>Rank:</td>
                                        <td>hav</td>
                                    </tr>
                                    <tr>
                                        <td>Name:</td>
                                        <td>xyz</td>
                                    </tr>
    
                                    <tr>
                                        <td>Whether any Brother/Sister serving in GREF/Army:</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td>Army/GS No:</td>
                                        <td>1234</td>
                                    </tr>
                                    <tr>
                                        <td>Rank:</td>
                                        <td>hav</td>
                                    </tr>
                                    <tr>
                                        <td>Name:</td>
                                        <td>xyz</td>
                                    </tr>
                                    <tr>
                                        <td>NCC "B" certificate:</td>
                                        <td>Yes</td>
    
                                    </tr>
                                    <tr>
                                        <td>Upload Status:</td>
                                        <td>Upload Successfully</td>
    
                                    </tr>
    
                                    <tr>
                                        <td>NCC "C" certificate:</td>
                                        <td>Yes</td>
    
                                    </tr>
                                    <tr>
                                        <td>Upload Status:</td>
                                        <td>Upload Successfully</td>
    
                                    </tr>
                                    <tr>
                                        <td>Sportsman:</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td>Upload Status:</td>
                                        <td>Upload Successfully</td>
    
                                    </tr>
    
                                    <tr>
                                        <td>Postal Address:</td>
                                        <td>35/7 AJANTA COLONY</td>
                                    </tr>
    
                                    <tr>
                                        <td>State:</td>
                                        <td>UTTAR PRADESH</td>
                                    </tr>
    
                                    <tr>
                                        <td>City:</td>
                                        <td>MEERUT</td>
                                    </tr>
    
                                    <tr>
                                        <td>Pincode:</td>
                                        <td>250004</td>
                                    </tr>
    
                                </table>
                            </div>
                        </div>
    
    
                    </div>
                    <div class="row">
                        <h4>
                            <u>High School</u>
                        </h4>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Year Of Passing</th>
                                        <th>Institution</th>
                                        <th>Specialization</th>
                                        <th>Course Type</th>
                                        <th>Board</th>
                                        <th>Total Marks</th>
                                        <th>Obtained Marks</th>
                                        <th>Percentage/Grade</th>
                                        <th>Upload Certificate</th>
                                    </tr>
                                </thead>
    
                                <tbody>
                                    <tr>
                                        <td>2010</td>
                                        <td>ABC Public School</td>
                                        <td>Regular</td>
                                        <td>Regular</td>
                                        <td>CBSE</td>
                                        <td>500</td>
                                        <td>400</td>
                                        <td>80%</td>
                                        <td>Upload Succesfully</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <h4>
                            <u>Intermediate</u>
                        </h4>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Year Of Passing</th>
                                        <th>Institution</th>
                                        <th>Specialization</th>
                                        <th>Course Type</th>
                                        <th>Board</th>
                                        <th>Total Marks</th>
                                        <th>Obtained Marks</th>
                                        <th>Percentage/Grade</th>
                                        <th>Upload Certificate</th>
                                    </tr>
                                </thead>
    
                                <tbody>
                                    <tr>
                                        <td>2010</td>
                                        <td>ABC Public School</td>
                                        <td>Regular</td>
                                        <td>Regular</td>
                                        <td>CBSE</td>
                                        <td>500</td>
                                        <td>400</td>
                                        <td>80%</td>
                                        <td>Upload Succesfully</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
    
                    <div class="row">
                        <h4>
                            <u>Graduation</u>
                        </h4>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Course</th>
                                        <th>Year Of Passing</th>
                                        <th>Institution</th>
                                        <th>University</th>
                                        <th>Specialization</th>
                                        <th>Total Marks</th>
                                        <th>Obtained Marks</th>
                                        <th>Percentage</th>
                                        <th>Course Type</th>
                                        <th>Upload Certificate</th>
                                    </tr>
                                </thead>
    
                                <tbody>
                                    <tr>
                                        <td>abc</td>
                                        <td>2008</td>
                                        <td>aaaa</td>
                                        <td>ddddd</td>
                                        <td>CBSE</td>
                                        <td>500</td>
                                        <td>400</td>
                                        <td>80%</td>
                                        <td>ddd</td>
                                        <td>Upload Succesfully</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
    
                    <div class="row">
                        <h4>
                            <u>Post Graduation</u>
                        </h4>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Course</th>
                                        <th>Year Of Passing</th>
                                        <th>Institution</th>
                                        <th>University</th>
                                        <th>Specialization</th>
                                        <th>Total Marks</th>
                                        <th>Obtained Marks</th>
                                        <th>Percentage</th>
                                        <th>Course Type</th>
                                        <th>Upload Certificate</th>
                                    </tr>
                                </thead>
    
                                <tbody>
                                    <tr>
                                        <td>abc</td>
                                        <td>2008</td>
                                        <td>aaaa</td>
                                        <td>ddddd</td>
                                        <td>CBSE</td>
                                        <td>500</td>
                                        <td>400</td>
                                        <td>80%</td>
                                        <td>ddd</td>
                                        <td>Upload Succesfully</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
    
                    <div class="row">
                        <h4>
                            <u>Diploma</u>
                        </h4>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Diploma In</th>
                                        <th>Year Of Passing</th>
                                        <th>Institution</th>
                                        <th>University</th>
                                        <th>Specialization</th>
                                        <th>Total Marks</th>
                                        <th>Obtained Marks</th>
                                        <th>Percentage</th>
                                        <th>Course Type</th>
                                        <th>Upload Certificate</th>
                                    </tr>
                                </thead>
    
                                <tbody>
                                    <tr>
                                        <td>abc</td>
                                        <td>2008</td>
                                        <td>aaaa</td>
                                        <td>ddddd</td>
                                        <td>CBSE</td>
                                        <td>500</td>
                                        <td>400</td>
                                        <td>80%</td>
                                        <td>ddd</td>
                                        <td>Upload Succesfully</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <h4>
                            <u>Degree</u>
                        </h4>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Degree In</th>
                                        <th>Year Of Passing</th>
                                        <th>Institution</th>
                                        <th>University</th>
                                        <th>Specialization</th>
                                        <th>Total Marks</th>
                                        <th>Obtained Marks</th>
                                        <th>Percentage</th>
                                        <th>Course Type</th>
                                        <th>Upload Certificate</th>
                                    </tr>
                                </thead>
    
                                <tbody>
                                    <tr>
                                        <td>abc</td>
                                        <td>2008</td>
                                        <td>aaaa</td>
                                        <td>ddddd</td>
                                        <td>CBSE</td>
                                        <td>500</td>
                                        <td>400</td>
                                        <td>80%</td>
                                        <td>ddd</td>
                                        <td>Upload Succesfully</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
    
                    <div class="row">
                        <h4>
                            <u>Experience</u>
                        </h4>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Organization's Name</th>
                                        <th>Experience Certificate</th>
                                        <th>CIN Number</th>
                                        <th>Employment Period</th>
                                        <th>Nature of Workdone</th>
                                        <th>Monthly Salary</th>
                                        <th>Permanent/Temporary</th>
                                    </tr>
                                </thead>
    
                                <tbody>
                                    <tr>
                                        <td>abc</td>
                                        <td>Upload Succesfully</td>
                                        <td>258741</td>
                                        <td>2 year</td>
                                        <td>assitant Software Engg.</td>
                                        <td>20,000</td>
                                        <td>Permanent</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
    
                    <div class="row">
                        <h4>
                            <u>Driving Licence</u>
                        </h4>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Licence NO.</th>
                                        <th>Date Of Issue</th>
                                        <th>Valid Upto</th>
                                        <th>Issuing Authority</th>
                                        <th>Upload DL</th>
                                    </tr>
                                </thead>
    
                                <tbody>
                                    <tr>
                                        <th>LMV</th>
                                        <td>1258741</td>
                                        <td>22-10-2000</td>
                                        <td>22-10-2020</td>
                                        <td>Uttar Pradesh</td>
                                        <td>Upload Succesfully</td>
                                    </tr>
                                    <tr>
                                        <th>HGMV</th>
                                        <td>1258741</td>
                                        <td>22-10-2000</td>
                                        <td>22-10-2020</td>
                                        <td>Uttar Pradesh</td>
                                        <td>Upload Succesfully</td>
                                    </tr>
    
    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row" style="text-align:center;">
                        <div class="col-sm-12">
                            <label>Photo</label>
                            <img src="C:\Users\YSS\Desktop\New folder\New folder\images\a.jpg" style="border:1px solid black;" hspace="20" class="img-rounded c_pic"
                                alt="photo" width="200" height="200"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label>Signature</label>
                            <img src="C:\Users\YSS\Desktop\New folder\New folder\images\b.jpg" style="border:1px solid black;" hspace="20" class="img-rounded s_pic"
                                alt="signature" width="150" height="150">
                        </div>
                    </div>
                    <div class="row">
                        <h4>
                            <u>Fee Status</u>
                        </h4>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Fee(Amount)</td>
                                        <td>Submit Succesfully</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
    
                    <div class="row" style="text-align:center;">
                        <a href="/url/" onclick="window.open(this.href).print(); return false">
                            <span class="glyphicon glyphicon-print"></span> Print
                        </a>
                    </div>
    
                </div>
            </div>
        </div>
        </div> -->

<!-- </div> -->

<!-- </template> -->