<div class="container">
    
        <hr style="border: 2px solid DarkRed" />​
        <br><br>
    
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6" class="one">
    
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title" align="center"><b>Forget Registration No</b></h3>
                    </div>
    
                    <div class="alert alert-danger" *ngIf="errorEmailNotExists">
                        <strong>Email address isn't registered!</strong> Please check and try again.
                    </div>
    
                    <div class="alert alert-warning" *ngIf="error">
                        <p>Enter the email address you used to register.</p>
                    </div>
    
                    <div class="alert alert-success" *ngIf="success === 'OK'">
                        <p>Check your emails for details on how to reset your password.</p>
                    </div>
    
                    <div class="panel-body" *ngIf="!pageSuccess">
    
                        <form class="form-horizontal" #resetForm="ngForm" (ngSubmit)="resetForm.form.valid && requestReset()" nonvalidate>
    
                            <div class="form-group">
                                <label class="control-label col-sm-5" for="email-id">E-Mail ID: </label>
                                    <div class="col-sm-6" [ngClass]="{ 'has-error': resetForm.submitted && !emailAddress.valid }">
                                        
                
                                    <input type="email" class="form-control" maxlength="50" placeholder="Enter your registered Email-Id" name="emailAddress"
                                        #emailAddress="ngModel" [(ngModel)]="reset.email" required>
                                    <!-- <div *ngIf="resetForm.controls.emailControl.invalid">
                                        <div class="help-block" *ngIf="resetForm.controls.emailControl.errors.required && !submitted">Required</div>
                                    </div>    -->
                                        <div *ngIf="resetForm.submitted && !emailAddress.valid" class="help-block">Email address is required</div>
                                </div>
                            </div>
    
    
                            <div class="form-group">
                                <label class="control-label col-sm-5" for="mob">Moblie Number: </label>
                                <div class="col-sm-6" [ngClass]="{ 'has-error': resetForm.submitted && !mobile.valid }">
                                    <input type="text" class="form-control" maxlength="10" placeholder="Enter Your registered mobile no" name="mobile" #mobile="ngModel"
                                        [(ngModel)]="reset.mobile" required>
                                        <!-- <div *ngIf="resetForm.controls.mobileControl.invalid">
                                        <div class="help-block" *ngIf="resetForm.controls.mobileControl.errors.required && !submitted">Required</div>
                                        <div class="help-block" *ngIf="resetForm.controls.mobileControl.errors.minlength && !submitted">minimum 6 character</div>
                                    </div> -->
                                        <div *ngIf="resetForm.submitted && !mobile.valid" class="help-block">Mobile number is required</div>
                                </div>
                            </div>
    
    
                            <div class="form-group">
                                <label class="control-label col-sm-5" for="dob">Date Of Birth: </label>
                                <div class="col-sm-6" [ngClass]="{ 'has-error': resetForm.submitted && !dob.valid }">
                                    <!-- <input type="date" class="form-control" maxlength="50" name="dob" #dob="ngModel" [(ngModel)]="reset.dob" required>
                                     <div *ngIf="resetForm.controls.dobControl.invalid">
                                        <div class="help-block" *ngIf="resetForm.controls.dobControl.errors.required && !submitted">Required</div>
                                    </div> -->
                                    <input class="form-control" [bsConfig]="bsConfig" placeholder="Please enter your date of birth"  name="dob" #dob="ngModel" [minDate]="minDateDob" [maxDate]="maxDateDob"
                                    [(ngModel)]="reset.dob"  bsDatepicker #dp="bsDatepicker" required>
                                    <div *ngIf="resetForm.submitted && !dob.valid" class="help-block">Date of birth is required</div>
                                </div>
                            </div>
    
    
                            <div class="form-group">
                                <div class="col-sm-offset-5 col-sm-4">
                                    <!-- <input style="height:30px;width:100px" class="btn btn-danger" value="Search"> -->
                                    <button class="btn btn-danger" style="height:30px;width:100px">Search  </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>