<div class="container">


	<div class="row">
		<div class="col-sm-12">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="navbar-collapse collapse" style="background-color:DarkRed;">
					<ul class="nav navbar-nav">
						<li>
							<a routerLink="/home">
								<b>HOME</b>
							</a>
						</li>
						<li>
							<a routerLink="/about">
								<b>ABOUT US</b>
							</a>
						</li>
						<li>
							<a routerLink="/result">
								<b>RESULT</b>
							</a>
						</li>
						<li class="dropdown" dropdown>
							<a routerLink="/home" dropdownToggle class="dropdown-toggle">
								<b>RECRUITMENT ZONE</b>
								<span class="caret"></span>
							</a>
							<ul *dropdownMenu class="dropdown-menu" style="background-color:DarkRed;">
								<li>
									<a routerLink="/home">
										<b>PUNE</b>
									</a>
								</li>
								<li>
									<a routerLink="/home">
										<b>TEZPUR</b>
									</a>
								</li>
								<li>
									<a routerLink="/home">
										<b>RISHIKESH</b>
									</a>
								</li>
							</ul>
						</li>

						<li>
							<a routerLink="/contact">
								<b>CONTACT US</b>
							</a>
						</li>
						<li>
							<a routerLink="/admin/login">
								<b>ADMIN LOGIN</b>
							</a>
						</li>

					</ul>
				</div>
			</nav>
		</div>
	</div>

	<carousel>
		<slide>
			<img src="../../assets/images/border1.jpg" alt="First slide">
		</slide>
		<slide>
			<img src="../../assets/images/border2.jpg" alt="Second slide">
		</slide>
		<slide>
			<img src="../../assets/images/border3.jpg" alt="Third slide">
		</slide>
		<slide>
			<img src="../../assets/images/border4.jpg" alt="Second slide">
		</slide>
		<slide>
			<img src="../../assets/images/border5.jpg" alt="Third slide">
		</slide>
	</carousel>
	<br>

	<div class="row">
		<div class="col-sm-4">
			<div class="panel panel-primary" style="border-radius: 10px;">
				<div class="panel-heading">
					<h3 class="panel-title" style="text-align:center;color:white;">
						Candidate's Information
						<img src="../../assets/images/new.gif">
					</h3>
				</div>

				<div class="panel-body" style="max-height:250px;">
					<ul style="list-style-type:disc">
						<li>
							<b>
								<a routerLink="/candidate/login" style="color:red">Candidate Login</a>
							</b>
						</li>
						<!--<li><b><a routerLink="/apply" style="color:red">Job Opening</a></b></li>-->
						<li>
							<b>
								<a routerLink="/apply" style="color:red">Jobs Opening</a>&nbsp;
								<img src="../../assets/images/new.gif">
							</b>
						</li>
						<br>
						<br>
					</ul>
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="panel panel-primary" style="border-radius: 10px;">
				<div class="panel-heading">
					<h3 class="panel-title" style="text-align:center;color:white;">
						Our Vision
					</h3>
				</div>

				<div class="panel-body" style="max-height: 250px;">
					<marquee scrolldelay="400" direction="up" onmouseover="this.stop();" onmouseout="this.start();">
						<b>
							Important Policy Letter Issued by T and C Important Policy Letter Issued by T and C Important Policy Letter Issued by T and
							C
						</b>
					</marquee>
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="panel panel-primary" style="border-radius: 10px;">
				<div class="panel-heading">
					<h3 class="panel-title" style="text-align:center;color:white;">
						BRO's Project
					</h3>
				</div>

				<div class="panel-body" style="max-height: 250px;">
					<marquee scrolldelay="400" direction="up" onmouseover="this.stop();" onmouseout="this.start();">
						<ul style="list-style-type:disc">
							<li>
								<b>
									<a href="#" style="color:FireBrick ">Himank</a>
								</b>
							</li>
							<li>
								<b>
									<a href="#" style="color:FireBrick ">Gref & Records Centre</a>
								</b>
							</li>
							<li>
								<b>
									<a href="#" style="color:FireBrick ">Pushpak</a>
								</b>
							</li>
							<li>
								<b>
									<a href="#" style="color:FireBrick ">Setuk</a>
								</b>
							</li>
							<li>
								<b>
									<a href="#" style="color:FireBrick ">Dantak</a>
								</b>
							</li>
						</ul>
					</marquee>
				</div>
			</div>
		</div>

	</div>

	<br>
	<br>
	<br>
	<footer>
		<div class="row">
			<h5 align="center">
				<b>Powered By:
					<a href="http://www.ysssolutions.net/" style="background-color:#ffffa0; color:red"> YSS SOFTTECH PVT LTD</a> C@2017
				</b>
			</h5>
		</div>
	</footer>
	<div class="row">
		<h5 align="right">
			<b>Total View:</b>
		</h5>
	</div>


</div>