/* @media (min-width:768px)
{
  .navbar .navbar-nav
  {
    display:inline-block;
	float:none;
	vertical-align:top;
  }
  
   .navbar .navbar-collapse
   {
     text-align:center;
	 
   }
   }
  
   .navbar-default .navbar-collapse .nav >li  >a
   {
     color:#EEEEEE;
	 margin-left:10px;
	 margin-right:10px;
	 font-size:16px;
	 font-family:verdana;
	 font-family:bold;
	 
	 
	 }
	 
	 
	 .navbar-default .navbar-collapse .nav >li >a:hover , .navbar-default .navbar-collapse .nav >li >a:focus
	 {
	    color:#EEEEEE;
		background:#424242;
	 }
     
	 .dropdown-toggle
	  .dropdown-toggle
	  {
	     background-color:#424242;
	  }
	  
	 .dropdown-menu
	 {
	     background-color:#424242;
	 }
	 
	 .navbar-default .navbar-collapse .nav .dropdown-menu >li>a
	 {
	     color:#EEEEEE;
		 font-weight:bold;
		 font-family:verdana;
		 font-family:bold;
		 font-size:16px;
		 
	 }
	 .navbar-default .navbar-collapse .nav .dropdown-menu>li>a:hover
	 {
	    background-color:#424242;
        background-image:none;
        color:#EEEEEE;		
	 } */