<div class="container">

    <hr style="border: 2px solid DarkRed" />​
    <div class="row">
        <div class="col-sm-12">
            <hr>
            <form class="form-horizontal" #resultForm="ngForm" (ngSubmit)="resultForm.form.valid && serachResult()" nonvalidate>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="name">Registration No: </label>
                    <div class="col-sm-4" [ngClass]="{ 'has-error': resultForm.submitted && !fname.valid }">
                        <input type="text" class="form-control" name="fname" maxlength="30" placeholder="Please enter your registration number" [(ngModel)]="result.register" #fname="ngModel" required>
                        <!-- <div *ngIf="resultForm.controls.nameControl.invalid">
                            <div class="help-block" *ngIf="resultForm.controls.nameControl.errors.required && !submitted">Required</div>
                        </div> -->
                        <div *ngIf="resultForm.submitted && !fname.valid" class="help-block">Registration number is required</div>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="name">Date Of Birth: </label>
                    <div class="col-sm-4" [ngClass]="{ 'has-error': resultForm.submitted && !dob.valid }">
                        <!-- <input type="text" class="form-control" name="dob" maxlength="15" placeholder="Please enter your date of birth" [(ngModel)]="result.dob" #dob="ngModel" required> -->
                        <!-- <div *ngIf="resultForm.controls.dobControl.invalid">
                            <div class="help-block" *ngIf="resultForm.controls.dobControl.errors.required && !submitted">Required</div>
                        </div> -->
                        <input class="form-control" [bsConfig]="bsConfig" placeholder="Please enter your date of birth"  name="dob" #dob="ngModel" [minDate]="minDateDob" [maxDate]="maxDateDob"
                        [(ngModel)]="result.dob"  bsDatepicker #dp="bsDatepicker" required>

                        <div *ngIf="resultForm.submitted && !dob.valid" class="help-block">Date of birth is required</div>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="name">Father Name: </label>
                    <div class="col-sm-4" [ngClass]="{ 'has-error': resultForm.submitted && !fatherName.valid }">
                        <input type="text" class="form-control" name="fatherName" maxlength="30" placeholder="Please enter your father's name" [(ngModel)]="result.fatherName" #fatherName="ngModel" required/>
                        <!-- <div *ngIf="resultForm.controls.fatherNameControl.invalid">
                            <div class="help-block" *ngIf="resultForm.controls.fatherNameControl.errors.required && !submitted">Required</div>
                        </div> -->
                        <div *ngIf="resultForm.submitted && !fatherName.valid" class="help-block">Father's name is required</div>
                    </div>
                </div>
                <h3 style="text-align:center;">
                    <button class="btn btn-lg btn-danger">Check Result</button> </h3>
            </form>
        </div>
    </div>
</div>