<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-justified">
                    <li>
                        <a routerLink="/admin/job/post" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">ADD POST</a>
                    </li>
                    <li>
                        <a routerLink="/admin/candidate/list" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">CANDIDATE LIST</a>
                    </li>
                    <li>
                        <a routerLink="/admin/job/report" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">CANDIDATE REPORT</a>
                    </li>
                    <li>
                        <a href="../../assets/images/Amazon.pdf" target="_blank" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">PHYSICAL TEST REPORT</a>
                    </li>
                    <li>
                        <a routerLink="/admin/candidate/list" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">SMS/IVR</a>
                    </li>
                    <li>
                        <a routerLink="/admin/job/exam" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;"> Examination </a>
                    </li>
                    <li>
                        <a routerLink="/admin/login" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">LOGOUT</a>
                    </li>
            </ul>
        </div>
    </div>

    <div class="row-fluid" *ngIf="!successField && !authenticationError">
        <div class="col-sm-12" style="border:1px solid black; margin-top:10px;">
            <div class="row">
                <h5 style="font-size:1.3em; border-bottom:3px solid Crimson; padding-left:30px ;">
                    <b>Add Post With Criteria</b>
                </h5>
                <br>

            </div>
            <form class="form-horizontal" name="myform" (ngSubmit)="myForm.form.valid && saveJobFields()" #myForm="ngForm" nonvalidate>
                <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
                <div class="form-group">
                    <label class="control-label col-sm-6">Post Name : {{jobs.jobTitle}}</label>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-6">Post Description : {{jobs.jobDesc}} </label>
                </div>
                <hr class="horizontal_row" />
                <div class="form-group">
                    <label class="control-label col-sm-4" for="post_name">Apply Online Date (ऑनलाइन तिथि ):
                        <span class="req" style="color: Red">*</span>
                    </label>
                    <div class="col-sm-8 form-inline">
                        <label>From:</label>
                        <input class="form-control" [bsConfig]="bsConfig" placeholder="mm/dd/yyyy" name="start" #start="ngModel" [minDate]="minDateRegFrom"
                            [maxDate]="maxDateRegFrom" [(ngModel)]="admin.activeDate" bsDatepicker #dp="bsDatepicker" required>

                        <div *ngIf="start.invalid && myForm.submitted" class="help-block">
                            <div *ngIf="start.errors.required">
                                Please Enter Apply Date.
                            </div>
                        </div>

                        <label>To:</label>
                        <input class="form-control" [bsConfig]="bsConfig" placeholder="mm/dd/yyyy" name="last" #last="ngModel" [minDate]="minDateRegTo"
                            [maxDate]="maxDateRegTo" [(ngModel)]="admin.expiryDate" bsDatepicker #dp="bsDatepicker" required>


                        <div *ngIf="last.invalid && myForm.submitted" class="help-block">
                            <div *ngIf="last.errors.required">
                                Please Enter Form Submission last Date.
                            </div>
                        </div>

                        <div class="help-block" *ngIf="invalidagecalFlag" style="text-align:center;">
                            {{invalidagemsg}}
                        </div>

                    </div>

                    <div class="help-block" *ngIf="applydateFlag" style="text-align:center;">
                        {{applyinvalidmsg}}
                    </div>
                </div>
                <hr class="horizontal_row" />
                <div class="form-group" style="">
                    <label class="control-label col-sm-4" for="gen">Add Recruitment Zone :</label>
                    <div class="col-sm-8">
                        <label class="checkbox-inline" >
                            <input type="checkbox" value="" name="zone" #zone="ngModel" [(ngModel)]="admin.rishikeshZone" required>Rishikesh
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline" >
                            <input type="checkbox" value="" name="zone"  #zone="ngModel"  [(ngModel)]="admin.tezpurZone" required>Tezpur
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline"  >
                            <input type="checkbox" value="" name="zone" #zone="ngModel" [(ngModel)]="admin.puneZone" required>Gref center pune
                        </label> &nbsp;&nbsp;
                       
                        <div *ngIf="zone.invalid && myForm.submitted" class="help-block">
                            <div *ngIf="zone.errors.required">
                                Please Select  Zone .
                            </div>
                        </div>
                    </div>
                </div>


                <hr class="horizontal_row" />

                <div class="form-group">
                    <label class="control-label col-sm-4" for="post_name">Last Date Of Fee Submission:
                        <span class="req" style="color: Red">*</span>
                    </label>
                    <div class="col-sm-8 form-inline">
                        <label>From:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input class="form-control" [bsConfig]="bsConfig" placeholder="mm/dd/yyyy" name="fstart" #fstart="ngModel" [minDate]="minDateFeeFrom"
                            [maxDate]="maxDateFeeFrom" [(ngModel)]="admin.feeSubmitDate" bsDatepicker #dp="bsDatepicker" required>
                        <div *ngIf="fstart.invalid && myForm.submitted" class="help-block">
                            <div *ngIf="fstart.errors.required">
                                Please Enter Date.
                            </div>
                        </div>
                        <label>To:</label>
                        <input class="form-control" [bsConfig]="bsConfig" placeholder="mm/dd/yyyy" name="flast" #flast="ngModel" [maxDate]="maxDateFeeFrom"
                            [maxDate]="maxDateFeeTO" [(ngModel)]="admin.feeSubmitLastDate" bsDatepicker #dp="bsDatepicker" required>
                        <div *ngIf="flast.invalid && myForm.submitted" class="help-block">
                            <div *ngIf="flast.errors.required">
                                Please Enter Fee Submission Last Date.
                            </div>
                        </div>

                    </div>
                    	
					  <div class="help-block" *ngIf="feedateFlag" style="text-align:center;">
                        {{feeinvalidmsg}}
                    </div>
                </div>

                <hr class="horizontal_row" />
                <div class="form-group">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Caste</th>
                                    <th>No. Of Post</th>
                                    <th>Fee</th>
                                    <th>Min Age</th>
                                    <th>Max Age</th>
                                    <th>Age Relaxation</th>
                                    <th> Per Relaxation</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let job of jobAmountDetails let i = index; let first = first; let last = last;">
                                    <td>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" value="{{i}}" name="nameCheck{{i}}" (change)="changeCheck($event, i)">{{job.categoryName}}
                                        </label>
                                    </td>
                                    <td>
                                        <input type="text" size="5" class="form-control" name="urpost{{i}}" [(ngModel)]="job.postNumber" #urpost="ngModel" placeholder="Enter No. of Post"
                                            minlength="1" maxlength="5" (keypress)="restrictNumeric($event)">
                                        <!-- <div *ngIf="urpost.invalid && myForm.submitted" class="help-block">
                                                <div *ngIf="urpost.errors.pattern">
                                                    Enter No.Of Post.
                                                </div>
                                            </div> -->
                                    </td>

                                    <td>
                                        <input type="text" size="5" class="form-control" name="urfee{{i}}" [(ngModel)]="job.amount" #urfee="ngModel" placeholder="Enter Fee"
                                            minlength="1" maxlength="5" (keypress)="restrictNumeric($event)">
                                    </td>

                                    <td>
                                        <input type="text" size="5" class="form-control" name="urmin{{i}}" [(ngModel)]="job.minAge" #urmin="ngModel" placeholder="Enter Min Age"
                                            minlength="1" maxlength="2" (keypress)="restrictNumeric($event)">
                                    </td>
                                    <td>
                                        <input type="text" size="5" class="form-control" name="urmax{{i}}" [(ngModel)]="job.maxAge" #urmax="ngModel" placeholder="Enter Max Age"
                                            minlength="1" maxlength="2" (keypress)="restrictNumeric($event)">
                                    </td>

                                    <td>
                                        <input type="text" size="5" class="form-control" name="ageRelax{{i}}" [(ngModel)]="job.ageRelaxation" #ageRelax="ngModel" placeholder="Enter Age Relaxation"
                                            minlength="1" maxlength="2" (keypress)="restrictNumeric($event)">
                                    </td>
                                    <td>
                                        <input type="text" size="5" class="form-control" name="percentRelax{{i}}" #percentRelax="ngModel" [(ngModel)]="job.percentageRelaxation"
                                            placeholder="Enter Percent Relaxation" minlength="1" maxlength="3" (keypress)="restrictNumeric($event)">
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

                <hr class="horizontal_row" />
                <div class="form-group">
                    <label class="control-label col-sm-4" for="gen">Essential Qualification: </label>
                    <div class="col-sm-8">
                        <label class="radio-inline">
                            <input type='radio' name="essen" #essen="ngModel" [value]='true' [checked]="false" (change)="essentialChange(true)" [(ngModel)]="admin.essentialQualificationForm"
                                required>&nbsp;Yes
                        </label>
                        <label class="radio-inline">
                            <input type='radio' name="essen" #essen="ngModel" [value]='false' [checked]="false" (change)="essentialChange(false)" [(ngModel)]="admin.essentialQualificationForm"
                                required>&nbsp;No
                        </label>

                        <div *ngIf="essen.invalid && myForm.submitted" class="help-block">
                            <div *ngIf="essen.errors.required">
                                Please Select Essential Qualification.
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-sm-8" *ngIf="essentialCheck">
                        <label class="control-label col-sm-4" for="gen">High School: </label>
                        <label class="radio-inline">
                            <input type='radio' name="high" #high="ngModel" [value]='true' [checked]="false" (change)="highChange(true)" [(ngModel)]="admin.highSchoolForm"
                                required>&nbsp;Yes
                        </label>
                        <label class="radio-inline">
                            <input type='radio' name="high" #high="ngModel" [value]='false' [checked]="false" (change)="highChange(false)" [(ngModel)]="admin.highSchoolForm"
                                required>&nbsp;No
                        </label>
                        <div *ngIf="admin.essentialQualificationForm == true">
                            <div *ngIf="high.invalid && myForm.submitted" class="help-block">
                                <div *ngIf="high.errors.required">
                                    Please Select .
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 form-inline" style="text-align:center;" *ngIf="highCheck && essentialCheck">

                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="highyear" [(ngModel)]="admin.highYearView">Year Of Passing
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="highschool" [(ngModel)]="admin.highInstitutionView">Institution/School
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="highspec" [(ngModel)]="admin.highSpecializationView">Specialization
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="highcourse" [(ngModel)]="admin.highCourseTypeView">Course Type
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="highboard" [(ngModel)]="admin.highBoardView">Board
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="hightotal" [(ngModel)]="admin.highTotalMarksView">Total Marks
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="highobtain" [(ngModel)]="admin.highObtainarksView">Obtain Marks
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="highpercent" [(ngModel)]="admin.highPercentageView">Percentage
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="highupload" [(ngModel)]="admin.highCertificateView">Upload Certificate
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="highgrade" [(ngModel)]="admin.highGradeView">Grade
                        </label>
                        <label>Minimum Percentage:</label>
                        <input type="text" class="form-control" name="highmin" minlength="2" maxlength="2" [(ngModel)]="admin.highMinPercent">
                    </div> -->

                    <div class="col-sm-8" *ngIf="essentialCheck" style="padding-left:240px;">
                        <label class="control-label col-sm-4" for="gen">Intermediate: </label>
                        <label class="radio-inline">
                            <input type='radio' name="inter" #inter="ngModel" [value]='true' [checked]="false" (change)="interChange(true)" [(ngModel)]="admin.intermediateForm"
                                required>&nbsp;Yes
                        </label>
                        <label class="radio-inline">
                            <input type='radio' name="inter" #inter="ngModel" [value]='false' [checked]="false" (change)="interChange(false)" [(ngModel)]="admin.intermediateForm"
                                required>&nbsp;No
                        </label>
                        <div *ngIf="admin.essentialQualificationForm == true">
                            <div *ngIf="inter.invalid && myForm.submitted" class="help-block">
                                <div *ngIf="inter.errors.required">
                                    Please Select .
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 form-inline" style="" *ngIf="interCheck && essentialCheck">

                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="interyear" [(ngModel)]="admin.interYearView">Year Of Passing
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="interschool" [(ngModel)]="admin.interInstitutionView">Institution/School
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="interspec" [(ngModel)]="admin.interSpecializationView">Specialization
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="intercourse" [(ngModel)]="admin.interCourseTypeView">Course Type
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="interboard" [(ngModel)]="admin.interBoardView">Board
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="intertotal" [(ngModel)]="admin.interTotalMarksView">Total Marks
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="interobtain" [(ngModel)]="admin.interObtainarksView">Obtain Marks
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="interpercent" [(ngModel)]="admin.interPercentageView">Percentage
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="interupload" [(ngModel)]="admin.interCertificateView">Upload Certificate
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="intergrade" [(ngModel)]="admin.interGradeView">Grade
                        </label>
                        <label class="checkbox-inline" >
                            <input type="checkbox" value="" name="intergrade" [(ngModel)]="admin.additionalCertificateView">Additional Certificate
                        </label>
                        <br>
                        <label>Minimum Percentage:</label>
                        <input type="text" class="form-control" name="intermin" minlength="2" maxlength="2" [(ngModel)]="admin.interMinPercent">

                    </div>


                </div>
                <hr class="horizontal_row" />
                <div class="form-group" style="">
                    <label class="control-label col-sm-4" for="gen">Typing:</label>
                    <div class="col-sm-8">
                        <label class="radio-inline">
                            <input type='radio' name="Typing" #Typing="ngModel" [value]='true' [checked]="false" (change)="typingChange(true)" [(ngModel)]="admin.typingForm"
                                required>&nbsp;Yes
                        </label>
                        <label class="radio-inline">
                            <input type='radio' name="Typing" #Typing="ngModel" [value]='false' [checked]="false" (change)="typingChange(false)" [(ngModel)]="admin.typingForm"
                                required>&nbsp;No
                        </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <div *ngIf="Typing.invalid && myForm.submitted" class="help-block">
                            <div *ngIf="Typing.errors.required">
                                Please Select Typing Language.
                            </div>
                        </div>
                    </div>

                    <div *ngIf="typingCheck" style="padding-left:350px;">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="typecheck" #typecheck="ngModel" value="" [(ngModel)]="admin.hindiTypingForm" required>Hindi Typing
                        </label> &nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" name="typecheck" #typecheck="ngModel" value="" [(ngModel)]="admin.englishTypingForm" required>English Typing
                        </label>
                        <div *ngIf="admin.typingForm == true">
                            <div *ngIf="typecheck.invalid && myForm.submitted" class="help-block">
                                <div *ngIf="typecheck.errors.required">
                                    Please Select.
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!--  <hr class="horizontal_row" />
               <div class="form-group" style="">
                    <label class="control-label col-sm-4" for="gen">Additonal Certificate :</label>
                    <div class="col-sm-8">
                        <label class="radio-inline">
                            <input type='radio' name="additional" #additional="ngModel" [value]='true' [checked]="false" (change)="additionalCertiChange(true)"
                                [(ngModel)]="admin.additionalCertificateForm" required>&nbsp;Yes
                        </label>
                        <label class="radio-inline">
                            <input type='radio' name="additional" #additional="ngModel" [value]='false' [checked]="false" (change)="additionalCertiChange(false)"
                                [(ngModel)]="admin.additionalCertificateForm" required>&nbsp;No
                        </label> &nbsp;&nbsp;&nbsp;
                        <div *ngIf="additional.invalid && myForm.submitted" class="help-block">
                            <div *ngIf="additional.errors.required">
                                Please Select Additional Certificate.
                            </div>
                        </div>

                        <div *ngIf="additionalCheck">
                            <label class="checkbox-inline">
                                <input type="checkbox" value="" name="additionalupload" #additionalupload="ngModel" [(ngModel)]="admin.additionalUploadForm"
                                    required>Upload Certificate
                            </label>

                            <div *ngIf="additionalupload.invalid && myForm.submitted" class="help-block">
                                <div *ngIf="additionalupload.errors.required">
                                    Please Select.
                                </div>

                            </div>
                        </div>
                    </div>
                </div> -->

                <hr class="horizontal_row" />

                <div class="form-group" style="">
                    <label class="control-label col-sm-4" for="gen">Other Qualification:</label>
                    <div class="col-sm-8">
                        <label class="radio-inline">
                            <input type='radio' name="other" #other="ngModel" [value]='true' [checked]="false" (change)="otherChange(true)" [(ngModel)]="admin.otherQualificationForm"
                                required>&nbsp;Yes
                        </label>
                        <label class="radio-inline">
                            <input type='radio' name="other" #other="ngModel" [value]='false' [checked]="false" (change)="otherChange(false)" [(ngModel)]="admin.otherQualificationForm"
                                required>&nbsp;No
                        </label>
                        <div *ngIf="other.invalid && myForm.submitted" class="help-block">
                            <div *ngIf="other.errors.required">
                                Please Select Other Qualification.
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>

                    <div class="col-sm-8" *ngIf="otherCheck" style="padding-left:240px;">
                        <label class="control-label col-sm-4" for="gen">Graduation:</label>
                        <label class="radio-inline">
                            <input type='radio' name="grad" #grad="ngModel" [value]='true' [checked]="false" (change)="gradChange(true)" [(ngModel)]="admin.graduationForm"
                                required>&nbsp;Yes
                        </label>
                        <label class="radio-inline">
                            <input type='radio' name="grad" #grad="ngModel" [value]='false' [checked]="false" (change)="gradChange(tfalserue)" [(ngModel)]="admin.graduationForm"
                                required>&nbsp;No
                        </label>
                        <div *ngIf="admin.otherQualificationForm == true">
                            <div *ngIf="grad.invalid && myForm.submitted" class="help-block">
                                <div *ngIf="grad.errors.required">
                                    Please Select.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 form-inline" style="" *ngIf="gradCheck && otherCheck">

                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="gradCourse" [(ngModel)]="admin.ugCourseView">Select Course
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="gradYear" [(ngModel)]="admin.ugYearView">Year Of Passing
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="gradInstitution" [(ngModel)]="admin.ugInstitutionView">Institution
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="gradUniversity" [(ngModel)]="admin.ugUniversityView">University
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="gradSpecialization" [(ngModel)]="admin.ugSpecializationView">Specialization
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="gradCourseType" [(ngModel)]="admin.ugCourseTypeView">Course Type
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="gradTotal" [(ngModel)]="admin.ugTotalMarksView">Total Marks
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="gradObtain" [(ngModel)]="admin.ugObtainarksView">Obtain Marks
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="gradPercentage" [(ngModel)]="admin.ugPercentageView">Percentage
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="gradUpload" [(ngModel)]="admin.ugCertificateView">Upload Certificate
                        </label>
                        <br>
                        <label>Minimum Percentage:</label>
                        <input type="text" class="form-control" name="ugmin" minlength="2" maxlength="2" [(ngModel)]="admin.ugMinPercent">

                    </div>


                    <div class="col-sm-8" *ngIf="otherCheck" style="padding-left:240px;">
                        <label class="control-label col-sm-4" for="gen">Post Graduation: </label>
                        <label class="radio-inline">
                            <input type='radio' name="postGrad" #postGrad="ngModel" [value]='true' [checked]="false" (change)="postGradChange(true)"
                                [(ngModel)]="admin.postGraduationForm" required>&nbsp;Yes
                        </label>
                        <label class="radio-inline">
                            <input type='radio' name="postGrad" #postGrad="ngModel" [value]='false' [checked]="false" (change)="postGradChange(false)"
                                [(ngModel)]="admin.postGraduationForm" required>&nbsp;No
                        </label>
                        <div *ngIf="admin.otherQualificationForm == true">
                            <div *ngIf="postGrad.invalid && myForm.submitted" class="help-block">
                                <div *ngIf="postGrad.errors.required">
                                    Please Select.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 form-inline" style="" *ngIf="postgradCheck && otherCheck">


                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="postgradCourse" [(ngModel)]="admin.pgCourseView">Select Course
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="postgradYear" [(ngModel)]="admin.pgYearView">Year Of Passing
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="postgradInstitution" [(ngModel)]="admin.pgInstitutionView">Institution
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="postgradUniversity" [(ngModel)]="admin.pgUniversityView">University
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="postgradSpecialization" [(ngModel)]="admin.pgSpecializationView">Specialization
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="postgradCourseType" [(ngModel)]="admin.pgCourseTypeView">Course Type
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="postgradTotal" [(ngModel)]="admin.pgTotalMarksView">Total Marks
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="postgradObtain" [(ngModel)]="admin.pgObtainarksView">Obtain Marks
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="postgradPercentage" [(ngModel)]="admin.pgPercentageView">Percentage
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="postgradUpload" [(ngModel)]="admin.pgCertificateView">Upload Certificate
                        </label>
                        <br>
                        <label>Minimum Percentage:</label>
                        <input type="text" class="form-control" name="pgmin" minlength="2" maxlength="2" [(ngModel)]="admin.pgMinPercent">

                    </div>
                </div>
                <hr class="horizontal_row" />
                <div class="form-group" style="">
                    <label class="control-label col-sm-4" for="gen">Technical Qualification :</label>
                    <div class="col-sm-8">
                        <label class="radio-inline">
                            <input type='radio' name="technical" #technical="ngModel" [value]='true' [checked]="false" (change)="technicalChange(true)"
                                [(ngModel)]="admin.technicalForm" required>&nbsp;Yes
                        </label>
                        <label class="radio-inline">
                            <input type='radio' name="technical" #technical="ngModel" [value]='false' [checked]="false" (change)="technicalChange(false)"
                                [(ngModel)]="admin.technicalForm" required>&nbsp;No
                        </label>
                        <div *ngIf="technical.invalid && myForm.submitted" class="help-block">
                            <div *ngIf="technical.errors.required">
                                Please Select Technical Qualification.
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>


                    <div class="col-sm-8" *ngIf="technicalCheck" style="padding-left:240px;">

                        <label class="control-label col-sm-4" for="gen">Degree:</label>
                        <label class="radio-inline">
                            <input type='radio' name="degree" #degree="ngModel" [value]='true' [checked]="false" (change)="degreeChange(true)" [(ngModel)]="admin.degreeForm"
                                required>&nbsp;Yes
                        </label>
                        <label class="radio-inline">
                            <input type='radio' name="degree" #degree="ngModel" [value]='false' [checked]="false" (change)="degreeChange(false)" [(ngModel)]="admin.degreeForm"
                                required>&nbsp;No
                        </label>
                        <div *ngIf="admin.technicalForm == true">
                            <div *ngIf="degree.invalid && myForm.submitted" class="help-block">
                                <div *ngIf="degree.errors.required">
                                    Please Select.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 form-inline" style="" *ngIf="degreeCheck && technicalCheck">
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="degreeYear" [(ngModel)]="admin.degreeYearView">Year Of Passing
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="degreeInstitution" [(ngModel)]="admin.degreeInstitutionView">Institution
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="degreeUniversity" [(ngModel)]="admin.degreeUniversityView">University
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="degreeSpecialization" [(ngModel)]="admin.degreeSpecializationView">Specialization
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="degreeTotal" [(ngModel)]="admin.degreeTotalMarksView">Total Marks
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="degreeObtain" [(ngModel)]="admin.degreeObtainarksView">Obtain Marks
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="degreePercentage" [(ngModel)]="admin.degreePercentageView">Percentage
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="degreeCourse" [(ngModel)]="admin.degreeCourseTypeView">Course Type
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="degreeUpload" [(ngModel)]="admin.degreeCertificateView">Upload Certificate
                        </label>
                        <br>
                        <label>Minimum Percentage:</label>
                        <input type="text" class="form-control" name="degreeMin" minlength="2" maxlength="2" [(ngModel)]="admin.degreeMinPercent">

                    </div>

                    <div class="col-sm-8" *ngIf="technicalCheck" style="padding-left:240px;">
                        <label class="control-label col-sm-4" for="gen">Diploma: </label>

                        <label class="radio-inline">
                            <input type='radio' name="diploma" #diploma="ngModel" [value]='true' [checked]="false" (change)="diplomaChange(true)" [(ngModel)]="admin.diplomaForm"
                                required>&nbsp;Yes
                        </label>
                        <label class="radio-inline">
                            <input type='radio' name="diploma" #diploma="ngModel" [value]='false' [checked]="false" (change)="diplomaChange(false)" [(ngModel)]="admin.diplomaForm"
                                required>&nbsp;No
                        </label>
                        <div *ngIf="admin.technicalForm == true">
                            <div *ngIf="diploma.invalid && myForm.submitted" class="help-block">
                                <div *ngIf="diploma.errors.required">
                                    Please Select.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 form-inline" style="" *ngIf="diplomaCheck && technicalCheck">
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="diplomaYear" [(ngModel)]="admin.diplomaYearView">Year Of Passing
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="diplomaInstitute" [(ngModel)]="admin.diplomaInstitutionView">Institution
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="diplomaUniversity" [(ngModel)]="admin.diplomaUniversityView">University
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="diplomaSpecialization" [(ngModel)]="admin.diplomaSpecializationView">Specialization
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="diplomaTotalMark" [(ngModel)]="admin.diplomaTotalMarksView">Total Marks
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="diplomaObtain" [(ngModel)]="admin.diplomaObtainarksView">Obtain Marks
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="diplomaPercentage" [(ngModel)]="admin.diplomaPercentageView">Percentage
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="diplomaCourse" [(ngModel)]="admin.diplomaCourseTypeView">Course Type
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="diplomaCertificate" [(ngModel)]="admin.diplomaCertificateView">Upload Certificate
                        </label>
                        <br>
                        <label>Minimum Percentage:</label>
                        <input type="text" class="form-control" name="diplomaMin" minlength="2" maxlength="2" [(ngModel)]="admin.diplomaMinPercent">

                    </div>

                </div>

                <hr class="horizontal_row" />
                <div class="form-group" style="">
                    <label class="control-label col-sm-4" for="gen">Experience :</label>
                    <div class="col-sm-8">
                        <label class="radio-inline">
                            <input type='radio' name="experience" #experience="ngModel" [value]='true' [checked]="false" (change)="experienceChange(true)"
                                [(ngModel)]="admin.experienceForm" required>&nbsp;Yes
                        </label>
                        <label class="radio-inline">
                            <input type='radio' name="experience" #experience="ngModel" [value]='false' [checked]="false" (change)="experienceChange(false)"
                                [(ngModel)]="admin.experienceForm" required>&nbsp;No
                        </label>
                        <div *ngIf="experience.invalid && myForm.submitted" class="help-block">
                            <div *ngIf="experience.errors.required">
                                Please Select Experience.
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="col-sm-12 form-inline" style="" *ngIf="experienceCheck">
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="experienceComapnyName" [(ngModel)]="admin.CompanyNameForm">Name of the Organization
                        </label> &nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="experienceCertificate" [(ngModel)]="admin.experienceCertificateForm">Upload Experience Certificate
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="experienceCinNumber" [(ngModel)]="admin.cinNumberForm">Company's CIN Number
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="experiencePeriod" [(ngModel)]="admin.employmentPeriodForm">Period of Employment
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="experienceWorkNature" [(ngModel)]="admin.workNatureForm">Nature of Work done
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="experienceMonthlySalary" [(ngModel)]="admin.monthlySalaryForm">Monthly Salary drawn (In Rupees)
                        </label>&nbsp;&nbsp;
                        <br>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="experiencePerTem" [(ngModel)]="admin.temporaryPermanentForm">Whether Permanent/Temporary
                        </label>
                    </div>
                </div>
                <hr class="horizontal_row" />
                <div class="form-group" style="">
                    <label class="control-label col-sm-4" for="gen">Driving Licence </label>
                    <div class="col-sm-8">
                        <label class="radio-inline">
                            <input type='radio' name="licence" #licence="ngModel" [value]='true' [checked]="false" (change)="licenceChange(true)" [(ngModel)]="admin.drivingLicenseForm"
                                required>&nbsp;Yes
                        </label>
                        <label class="radio-inline">
                            <input type='radio' name="licence" #licence="ngModel" [value]='false' [checked]="false" (change)="licenceChange(false)" [(ngModel)]="admin.drivingLicenseForm"
                                required>&nbsp;No
                        </label>

                        <div *ngIf="licence.invalid && myForm.submitted" class="help-block">
                            <div *ngIf="licence.errors.required">
                                Please Select Driving Licence.
                            </div>

                        </div>
                    </div>
                    <br>
                    <br>

                    <div class="col-sm-8" *ngIf="licenceCheck" style="padding-left:240px;">
                        <label class="control-label col-sm-4" for="gen">LMV:</label>
                        <label class="radio-inline">
                            <input type='radio' name="lmv" #lmv="ngModel" [value]='true' [checked]="false" (change)="lmvChange(true)" [(ngModel)]="admin.drivingLicenseLmvForm"
                                required>&nbsp;Yes
                        </label>
                        <label class="radio-inline">
                            <input type='radio' name="lmv" #lmv="ngModel" [value]='false' [checked]="false" (change)="lmvChange(false)" [(ngModel)]="admin.drivingLicenseLmvForm"
                                required>&nbsp;No
                        </label>

                        <div *ngIf="admin.drivingLicenseForm == true">
                            <div *ngIf="lmv.invalid && myForm.submitted" class="help-block">
                                <div *ngIf="lmv.errors.required">
                                    Please Select .
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 form-inline" style="text-align:center;" *ngIf="lmvCheck && licenceCheck">
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="licenceno" [(ngModel)]="admin.licenceNumberLmvView">Licence No
                        </label> &nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="licencedate" [(ngModel)]="admin.issueDateLmvView">Date of Issue
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="validityto" [(ngModel)]="admin.validUptoLmvView">Validity Upto
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="issueauthority" [(ngModel)]="admin.issuingAuthorityLmvView">Issuing Authority
                        </label> &nbsp;&nbsp;
                        <!-- <label class="checkbox-inline">
                                <input type="checkbox" value="" name="uploadlicence" [(ngModel)]="admin.lmvExperienceView">Upload Driving Licence
                            </label>
            <label class="checkbox-inline">
                                <input type="checkbox" value="" name="lmvUploadExp" [(ngModel)]="admin.lmvExpDocView">Upload Experience Certificate
                            </label> -->
                    </div>


                    <div class="col-sm-8" *ngIf="licenceCheck" style="padding-left:240px;">
                        <label class="control-label col-sm-4" for="gen">HGMV:</label>
                        <label class="radio-inline">
                            <input type='radio' name="hgmv" #hgmv="ngModel" [value]='true' [checked]="false" (change)="hgmvChange(true)" [(ngModel)]="admin.drivingLicenseHgmvForm"
                                required>&nbsp;Yes
                        </label>
                        <label class="radio-inline">
                            <input type='radio' name="hgmv" #hgmv="ngModel" [value]='false' [checked]="false" (change)="hgmvChange(false)" [(ngModel)]="admin.drivingLicenseHgmvForm"
                                required>&nbsp;No
                        </label>
                        <div *ngIf="admin.drivingLicenseForm == true">
                            <div *ngIf="hgmv.invalid && myForm.submitted" class="help-block">
                                <div *ngIf="hgmv.errors.required">
                                    Please Select.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 form-inline" style="text-align:center;" *ngIf="hgmvCheck && licenceCheck">
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="hlicenceno" [(ngModel)]="admin.licenceNumberHgmvView">Licence No
                        </label> &nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="hdateissue" [(ngModel)]="admin.issueDateHgmvView">Date of Issue
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="hvalidity" [(ngModel)]="admin.validUptoHgmvView">Validity Upto
                        </label>&nbsp;&nbsp;
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="hissuename" [(ngModel)]="admin.issuingAuthorityHgmvView">Issuing Authority
                        </label> &nbsp;&nbsp;
                        <!-- <label class="checkbox-inline">
                                <input type="checkbox" value="" name="hupload" [(ngModel)]="admin.HgmvExperienceView">Upload Driving Licence
                            </label>
            <label class="checkbox-inline">
                                <input type="checkbox" value="" name="hgmvUploadExp" [(ngModel)]="admin.hgmvExpDocView">Upload Experience Certificate
                            </label> -->
                    </div>
                    <div class="col-sm-12 form-inline" style="padding-left:300px;" *ngIf="licenceCheck">
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="drivingUpload" [(ngModel)]="admin.drivingUploadView">Upload Driving Licence
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" name="drivingExperience" [(ngModel)]="admin.drivingExpUploadView">Upload Experience Certificate
                        </label>
                    </div>
                </div>

                <!-- <hr class="horizontal_row" />
                <div class="form-group">
                    <label class="control-label col-sm-4" for="gen">Ncc Certificate :</label>

                    <div class="col-sm-8">
                        <label class="radio-inline">
                            <input type='radio' name="essential" #essential="ngModel" [value]='true' [checked]="false" (change)="nccCChange(true)" [(ngModel)]="admin.nccCertificateForm"
                                required>&nbsp;Yes
                        </label>
                        <label class="radio-inline">
                            <input type='radio' name="essential" #essential="ngModel" [value]='false' [checked]="false" (change)="nccCChange(false)"
                                [(ngModel)]="admin.nccCertificateForm" required>&nbsp;No
                        </label> &nbsp;&nbsp;&nbsp;

                        <div *ngIf="essential.invalid && myForm.submitted" class="help-block">
                            <div *ngIf="essential.errors.required">
                                Please Select Ncc Certificate.
                            </div>
                        </div>

                        <div *ngIf="nccCCheck">
                            <label class="checkbox-inline">
                                <input type="checkbox" value="" name="essentialupload" #essentialupload="ngModel" [(ngModel)]="admin.nccCUploadForm" required>Upload Certificate
                            </label>
                            <div *ngIf="essentialupload.invalid && myForm.submitted" class="help-block">
                                <div *ngIf="essentialupload.errors.required">
                                    Please Select.
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>
                    <br>

                    <label class="control-label col-sm-4" for="gen">Ncc B Certificate :</label>
                    <div class="col-sm-8">
                        <label class="radio-inline">
                            <input type='radio' name="nccb" #nccb="ngModel" [value]='true' [checked]="false" (change)="nccBChange(true)" [(ngModel)]="admin.nccbCertificateForm"
                                required>&nbsp;Yes
                        </label>
                        <label class="radio-inline">
                            <input type='radio' name="nccb" #nccb="ngModel" [value]='false' [checked]="false" (change)="nccBChange(false)" [(ngModel)]="admin.nccbCertificateForm"
                                required>&nbsp;No
                        </label> &nbsp;&nbsp;&nbsp;

                        <div *ngIf="nccb.invalid && myForm.submitted" class="help-block">
                            <div *ngIf="nccb.errors.required">
                                Please Select Ncc B Certificate.
                            </div>

                        </div>


                        <div *ngIf="nccBCheck">
                            <label class="checkbox-inline">
                                <input type="checkbox" value="" name="nccbupload" #nccbupload="ngModel" [(ngModel)]="admin.nccbUploadForm" required>Upload Certificate
                            </label>

                            <div *ngIf="nccbupload.invalid && myForm.submitted" class="help-block">
                                <div *ngIf="nccbupload.errors.required">
                                    Please Select.
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <hr class="horizontal_row" />
                <div class="form-group">
                    <label class="control-label col-sm-4" for="gen">Sports Certificate:</label>
                    <div class="col-sm-8">
                        <label class="radio-inline">
                            <input type='radio' name="sports" #sports="ngModel" [value]='true' [checked]="false" (change)="sportsChange(true)" [(ngModel)]="admin.sportCertificateForm"
                                required>&nbsp;Yes
                        </label>
                        <label class="radio-inline">
                            <input type='radio' name="sports" #sports="ngModel" [value]='false' [checked]="false" (change)="sportsChange(false)" [(ngModel)]="admin.sportCertificateForm"
                                required>&nbsp;No
                        </label>

                        <div *ngIf="sports.invalid && myForm.submitted" class="help-block">
                            <div *ngIf="sports.errors.required">
                                Please Select Sports Certificate.
                            </div>

                        </div>
                        <div *ngIf="sportsCheck">
                            <label class="checkbox-inline">
                                <input type="checkbox" value="" name="sportsupload" #sportsupload="ngModel" [(ngModel)]="admin.sportUploadForm" required>Upload Certificate
                            </label>
                            <div *ngIf="admin.sportCertificateForm == true">
                                <div *ngIf="sportsupload.invalid && myForm.submitted" class="help-block">
                                    <div *ngIf="sportsupload.errors.required">
                                        Please Select.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div> -->


                <hr class="horizontal_row" />

                <div class="form-group" style="text-align:center;">
                    <div class="col-sm-12">
                        <button class="btn btn-success" style="margin-bottom:10px; box-shadow: 6px 6px 3px LightGrey;">ADD POST&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>



    <div style="text-align: center;" *ngIf="successField && !successDoc">
        <h3>
            <mark style="background-color:#ffffa0; color:green;">Job fields created successfully! Please Upload Document!</mark>
        </h3>
        <form class="form-horizontal" name="myform" (ngSubmit)="uploadDocument()" #uploadForm="ngForm" nonvalidate>
            <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
            <div class="form-group">
                <label class="control-label col-sm-4" for="post_name">Upload Advertisement (विज्ञापन अपलोड करें) :
                    <span class="req" style="color: Red">*</span>
                </label>
                <div class="col-sm-8 form-inline">
                    <input type="file" class="form-control" name="categoryfile" (change)="documentChange($event)">
                    <div *ngIf="documentType" class="help-block">Only JPG/JPEG allowed</div>
                    <div *ngIf="documentSize" class="help-block">Size should be between 40kb to 200kb</div>
                </div>
            </div>

            <hr class="horizontal_row" />

            <div class="form-group" style="text-align:center;">
                <div class="col-sm-12">
                    <button class="btn btn-success" style="margin-bottom:10px; box-shadow: 6px 6px 3px LightGrey;">UPLOAD&nbsp;&nbsp;
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div style="text-align: center;" *ngIf="successDoc && !authenticationError">
        <h3>
            <mark style="background-color:#ffffa0; color:green;">Document Uploaded successfully !</mark>
        </h3>
    </div>

    <div style="text-align: center;" *ngIf="authenticationError">
        <h3>
            <mark style="background-color:#ffffa0; color:red;">Error while Uploading! Please Try again.</mark>
        </h3>
    </div>
</div>