<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <nav class="navbar navbar-default" role="navigation" style="background-color:DarkRed;">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a routerLink="/home"><b>HOME</b></a></li>
                        <li><a routerLink="/about"><b>ABOUT US</b></a></li>
                        <li><a routerLink="/result"><b>RESULT</b></a></li>

                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle"><b>RECRUITMENT ZONE</b><b class="caret"></b></a>
                            <ul class="dropdown-menu" style="background-color:DarkRed;">
                                <li><a href="#"><b>PUNE</b></a></li>
                                <li><a href="#"><b>TEZPUR</b></a></li>
                                <li><a href="#"><b>RISHIKESH</b></a></li>
                            </ul>
                        </li>

                        <li><a routerLink="/contact"><b>CONTACT US</b></a></li>
                        <li><a routerLink="/admin/login"><b>ADMIN LOGIN</b></a></li>

                    </ul>
                </div>
            </nav>
        </div>
    </div>

</div>






<div class="container">

    <pre style="background-color:Ivory;font-size:95%;">
  <h3 style="text-align:center;font-size:200%;">THE BORDER ROADS ORGANISATION</h3>
  <h4 style="text-align:center;font-size:150%;">A BRIEF PERSPECTIVE</h4> 

Let us not forget that roads in this difficult terrain have been built not only with mere cement and concrete,but also with the blood of men of the Border
Roads Organisation of India.Many lost their lives for the cause of duty on the project.To these men,who always play with danger and laugh at death,duty 
comes first.These fallen heroes came from all parts of Mother India,to contribute their mite to the defence of their mother land and prosperity of their 
neighbours.
 
From an Article 'Highways to Adventure'
 
published in 'THE MIRROR' Magazine, Jul 1975
 
 </pre> 

    <br><br><br><br><br><br><br><br><br><br><br><br>
    <footer>
        <div class="row">

            <h5 align="center">
                <b>Powered By:
					<a href="http://www.ysssolutions.net/" style="background-color:#ffffa0; color:red"> YSS IT SERVICES & SOLUTIONS PVT LTD</a> C@2017 
					</b>
            </h5>
        </div>
    </footer>
</div>