<div class="container-flud" style="padding:20px;text-align:center;">
    <div class="row"  >
        <div class="row">
            <h2>Examination Paper</h2>
        </div>
    
    
        <div class="table-responsive" style="border:solid black 1px"> 
                <h3>Section A</h3> 
        <table class="table" >
               
        <thead>
       
          <tr>
                <th class="col-sm-1" Style="text-align:center"> S.N.</th>
                <th class="col-sm-8"> Question </th>
                <th class="col-sm-1" Style="text-align:center"> Mark </th>
                <th class="col-sm-1" Style="text-align:center"> Total Mark </th>
          <tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td><input type="text" class="form-control"/></td>
            <td><input type="text" class="form-control"/></td>
            <td>1</td>
          </tr>
          <tr>
            <td>2</td>
            <td><input type="text" class="form-control"/></td>
            <td><input type="text" class="form-control"/></td>
            <td>2</td>
          </tr>
          <tr>
            <td>3</td>
           <td><input type="text" class="form-control"/></td>
            <td><input type="text" class="form-control"/></td>
            <td>3</td>
          </tr>
        </tbody>
      </table>
      <br>
      <div class="row">
           <Button class=" btn btn-success">Submit</Button>
      </div>
   <br>
 </div>
<br>
       <div class="table-responsive" style="border:solid black 1px">  
      
            <h3>Section B</h3>
      <table class="table">
        <thead>
        
       
        
          <th class="col-sm-1" Style="text-align:center"> S.N.</th>
            <th class="col-sm-8"> Question </th>
            <th class="col-sm-1" Style="text-align:center"> Mark </th>
            <th class="col-sm-1" Style="text-align:center"> Total Mark </th>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td><input type="text" class="form-control"/></td>
            <td><input type="text" class="form-control"/></td>
            <td>1</td>
          </tr>
          <tr>
            <td>2</td>
            <td><input type="text" class="form-control"/></td>
            <td><input type="text" class="form-control"/></td>
            <td>2</td>
          </tr>
          <tr>
            <td>3</td>
            <td><input type="text" class="form-control"/></td>
            <td><input type="text" class="form-control"/></td>
            <td>3</td>
          </tr>
        </tbody>
      </table>
    <br>
      <div class="row">
            <Button class=" btn btn-success">Submit</Button>
       </div>
      <br>
     </div>
     
     
    </div>
    </div>