<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-justified">
                <!-- <li>
                    <a routerLink="/admin/candidate/list" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Go To Candidate Details</a>
                </li>
                <li>
                    <a routerLink="/admin/job/report" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Candidate Report</a>
                </li>
                <li>
                    <a routerLink="/home" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">GO TO HOME PAGE</a>
                </li> -->
                <li>
                    <a routerLink="/admin/job/post" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">ADD POST</a>
                </li>
                <li>
                    <a routerLink="/admin/candidate/list" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">CANDIDATE LIST</a>
                </li>
                <li>
                    <a routerLink="/admin/job/report" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">CANDIDATE REPORT</a>
                </li>
                <li>
                    <a href="../../assets/images/Amazon.pdf" target="_blank" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">PHYSICAL TEST REPORT</a>
                </li>
                <li>
                    <a routerLink="/admin/candidate/list" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">SMS/IVR</a>
                </li>
                <li>
                    <a routerLink="/admin/job/exam" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;"> Examination </a>
                </li>
                <li>
                    <a routerLink="/admin/login" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">LOGOUT</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row-fluid">
        <div class="col-sm-12" style="border:1px solid black; margin-top:10px;">

            <div class="row">
                <h5 style=" font-size:1.3em; border-bottom:3px solid Crimson; padding-left:30px ;">
                    <b>Candidate Report</b>
                    &nbsp;
                    <a routerLink="/admin/job/report" data-toggle="tooltip" title="Refresh">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </a>
                </h5>
            </div>
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Post Name</th>
                                <th>Total Post</th>
                                <th>Total Form Filled</th>
                                <th>Total Fee Submmited</th>
                                <th>Total Students Apply this Post</th>
                                <th>See Category Wise</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>JUNIOR ENGINEER(CIVIL)</td>
                                <td>20</td>
                                <td>20000</td>
                                <td>1200000</td>
                                <td>120000</td>
                                <!-- <td><a href="#"><span data-toggle="tooltip" title="Search" class="glyphicon glyphicon-search"></span></a></td> -->
                                <td>
                                    <a href="#" class="btn btn-success" data-target="#myModal" data-toggle="modal" data-placement="bottom" title="Search">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Driver</td>
                                <td>30</td>
                                <td>20000</td>
                                <td>1200000</td>
                                <td>120000</td>
                                <!-- <td><a href="#"><span data-toggle="tooltip" title="Search" class="glyphicon glyphicon-search"></span></a></td> -->
                                <td>
                                    <a href="#" class="btn btn-success" data-target="#myModal" data-toggle="modal" data-placement="bottom" title="Search">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Cook</td>
                                <td>40</td>
                                <td>20000</td>
                                <td>1200000</td>
                                <td>120000</td>
                                <!-- <td><a href="#"><span data-toggle="tooltip" title="Search" class="glyphicon glyphicon-search"></span></a></td> -->
                                <td>
                                    <a href="#" class="btn btn-success" data-target="#myModal" data-toggle="modal" data-placement="bottom" title="Search">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                        <div class="col-sm-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading" style="text-align:center">
                                    <b>JUNIOR ENGINEER(CIVIL)</b>
                                </div>
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="table table-bordered">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>No. Of Post</th>
                                                            <th>Form Filled</th>
                                                            <th>No. of Candidate</th>
                                                            <th>Fee Submitted</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>

                                                        <tr>
                                                            <th>GENERAL:</th>
                                                            <td>3</td>
                                                            <td>3000</td>
                                                            <td>400</td>
                                                            <td>40000</td>
                                                        </tr>
                                                        <tr>
                                                            <th>SC:</th>
                                                            <td>3</td>
                                                            <td>3000</td>
                                                            <td>400</td>
                                                            <td>40000</td>
                                                        </tr>

                                                        <tr>
                                                            <th>ST:</th>
                                                            <td>3</td>
                                                            <td>3000</td>
                                                            <td>400</td>
                                                            <td>40000</td>
                                                        </tr>

                                                        <tr>
                                                            <th>OBC:</th>
                                                            <td>3</td>
                                                            <td>3000</td>
                                                            <td>400</td>
                                                            <td>40000</td>
                                                        </tr>
                                                        <tr>
                                                            <th>PH:</th>
                                                            <td>0</td>
                                                            <td>3000</td>
                                                            <td>400</td>
                                                            <td>40000</td>
                                                        </tr>
                                                        <tr>
                                                            <th>ESM:</th>
                                                            <td>3</td>
                                                            <td>3000</td>
                                                            <td>400</td>
                                                            <td>40000</td>
                                                        </tr>
                                                        <tr>
                                                            <th>GREF-WARD:</th>
                                                            <td>3</td>
                                                            <td>3000</td>
                                                            <td>400</td>
                                                            <td>40000</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>



                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>