<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-justified">
                <li>
                    <a href="/candidate/payment" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Preview</a>
                </li>
                <li>
                    <a href="/candidate/payment" class="btn btn-default tab_bar" style="line-height:.8;font-weight: bold;">Payment</a>
                </li>
            </ul>
        </div>
    </div>
 

    
    <div class="col-sm-12" style="border:1px solid black; margin-top:10px;">
        <div class="row-fluid">
            <div class="row">
                <h5 style=" font-size:1.3em; border-bottom:3px solid Crimson; padding-left:30px ;">
                    <b>Fee Submit </b>
                </h5>
                <br>
            </div>
       </div>       
            
            <form class="form-horizontal" name="myform">
                <div class="form-group" style="text-align:center;">
                    <div class="col-sm-12">
                        <label class="radio-inline">
                            <input type='radio' name="fee" #fee="ngModel" [value]='true' [checked]="false" (change)="feeChange(true)" [(ngModel)]="user.feeForm" required>&nbsp;ONLINE
                        </label>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label class="radio-inline">
                            <input type='radio' name="fee" #fee="ngModel" [value]='false' [checked]="false" (change)="feeChange(false)" [(ngModel)]="user.feeForm" required>&nbsp;OFFLINE
                        </label>
                    </div>
                 </div>
             </form>
     </div>
  </div>   

                    <br>
                    <br>
                    <br>
                    <br>
                <div class="container-fluid" >  
                    <div class="col-sm-12" style="border:1px solid black; margin-top:10px;"  *ngIf="onlinefeeCheck">
                            <div class="row-fluid" *ngIf="PaymentDetails">
                               
                                    <h5 style=" font-size:1.3em; border-bottom:3px solid Crimson; padding-left:30px ;">
                                        <b>Payment Details </b>
                                    </h5>
                                    <br>
                                
                           </div>       
                           <div class="row-fluid" > 
                                <form class="form-horizontal" name="myform">
                            <div class="form-group" style="text-align:center;"> 
                        <div class="col-sm-2">   
                            <ul class="list-group">  
                                    <li class="list-group-item">  <a (click)="debitCard()" class="btn btn-info" role="button">Debit CARD</a></li> 
                                    <li class="list-group-item">  <a (click)="creditCard()" class="btn btn-info" role="button">CREDIT CARD</a></li>
                                    <li class="list-group-item">  <a (click)="bhimUpi()" class="btn btn-info" role="button">BHIM UPI</a></li>
                                    <li class="list-group-item">  <a (click)="netBanking()" class="btn btn-info" role="button">NET BANKING</a></li>

                            </ul>
                        </div>
                        <div class="col-sm-offset-1 col-sm-6">   
                             <div class="panel panel-default">
                                    
                                    <div class="panel-heading">
                                    Debit Card
                            </div>
                            <br>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="cn">Card Number:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="cn" name="cn">
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="nc">Name on Card:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="nc" name="nc">
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="cv">CVV Number:</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" id="cv" name="cv">
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="ed">Expiry Date:</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" id="ed" name="ed">
                                </div>
                            </div>
                            <br>
                            <div class="form-group">        
                                <div class="col-sm-offset-4 col-sm-4">
                                    <button type="submit" class="btn btn-primary">Pay Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>   
                </form> 
                  
                    
                    
                    
        <form class="form-horizontal" name="myform" *ngIf="creditCard">    
            <div class="form-group" style="text-align:center;"> 
                
                     <div class="col-sm-offset-1 col-sm-6" >   
                            <div class="panel panel-default">
                                  <div class="panel-heading">
                                        Credit Card
                                    </div>
                                           <br>
                                <div class="form-group">
                                      <label class="control-label col-sm-3" for="cn">Card Number:</label>
                                            <div class="col-sm-5">
                                                  <input type="text" class="form-control" id="cn" name="cn">
                                           </div>
                                </div>
                                           <br>
                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="nc">Name on Card:</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="nc" name="nc">
                                        </div>
                                </div>
                                           <br>
                                <div class="form-group">
                                    <label class="control-label col-sm-3" for="cv">CVV Number:</label>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" id="cv" name="cv">
                                        </div>
                                </div>
                                           <br>
                                 <div class="form-group">
                                     <label class="control-label col-sm-3" for="ed">Expiry Date:</label>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" id="ed" name="ed">
                                        </div>
                                </div>
                                           <br>
                                <div class="form-group">        
                                    <div class="col-sm-offset-4 col-sm-4">
                                        <button type="submit" class="btn btn-primary">Pay Now</button>
                                    </div>
                                </div>
                            </div>
                     </div>
                  
             </div>    
         </form>

           <form class="form-horizontal" name="myform" *ngIf="netBanking">    
                <div class="form-group"> 
                    <div class="col-sm-offset-1 col-sm-6">   
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Credit Card
                            </div>
                            <br>
                            <ul class="list-group">     
                                    <li class="list-group-item"> 
                                        <div class= "" >
                                            <input type=radio>State Bank Of India
                                        </div>
                                    </li>
                                   <li class="list-group-item"> 
                                         <div class= "" >
                                            <input type=radio>Bank Of Baroda
                                        </div>
                                   </li>
                                   <li class="list-group-item"> 
                                        <div class= "" >
                                           <input type=radio>BANK OF INDIA
                                       </div>
                                  </li>
                                  <li class="list-group-item"> 
                                        <div class= "" >
                                           <input type=radio>CANARA BANK
                                       </div>
                                  </li>
                                  <li class="list-group-item"> 
                                        <div class= "" >
                                           <input type=radio>PUNJAB NATIONAL BANK
                                       </div>
                                  </li>

                                  <li class="list-group-item"> 
                                        <div class= "" >
                                           <input type=radio>ICICI BANK
                                       </div>
                                  </li>
    
                                </ul> 


                        </div>
                     </div>  
                </div> 
            </form>
            

                <form class="form-horizontal" name="myform" *ngIf="netBanking">    
                    <div class="form-group"  style="text-align:center;"> 
                        <div class="col-sm-offset-1 col-sm-6">   
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Net Banking
                                </div>
                                <br>
                                <div class="form-group">
                                        <label class="control-label col-sm-3" for="cn">UserName:</label>
                                              <div class="col-sm-5">
                                                    <input type="text" class="form-control" id="cn" name="cn">
                                             </div>
                                  </div>
                                             <br>
                                  <div class="form-group">
                                      <label class="control-label col-sm-3" for="nc">Password:</label>
                                          <div class="col-sm-5">
                                              <input type="text" class="form-control" id="nc" name="nc">
                                          </div>
                                  </div>

                            </div>    
                        </div>
                    </div>
                 </form>




                </div>
                    </div>
                </div>     

                

                <div class="row"  style="text-align:center;" *ngIf="offlinefeeCheck">
                        <div class="col-sm-12">
                            <div class="form-group">
                                   <h3><a href="http://www.ysssolutions.net/" style="color:red">Download Challan Form Here</a></h3>
                            </div>
                        </div>
                    </div>
                

                <!-- <div class="form-group" style="text-align:center;">
                    <div class="col-sm-12">
                        <button class="btn  btn-success" style="text-align:center;">PROCEED &nbsp;&nbsp;
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </button>
                    </div>
                </div> -->
            
    
