<div *ngIf="errorValue" class="modal fade show in danger animated" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content ">
            <div class="modal-header" style="border-bottom-style:dashed;">

                <h4 class="modal-title pull-left" style="font-style:initial;font-weight:bold;font-family:-webkit-body;color:red;font-size:x-large;">Error!</h4>
                <button type="button" class=" close pull-right" aria-label="Close" (click)="hideError()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="font-style:normal;font-family:monospace;font-size:x-large;">
                {{message}}
            </div>
            <div class="row" style="text-align:center;padding-bottom:10px;">
                <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close" (click)="hideError()">Close</button>
            </div>
        </div>
    </div>
</div>


<div *ngIf="successValue" class="modal fade show in danger animated fadeInRightBig " id="myModal " role="dialog ">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body ">
                <div class="succ">
                    <i class="fa fa-check text-green"></i> {{message}}
                </div>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideError()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

        </div>
    </div>
</div>


<div *ngIf="showResult" class="modal fade show in danger animated" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color:cornflowerblue;text-align:center;">
                <h4 class="modal-title">Candidate Details</h4>
                <button type="button" class="close pull-right" (click)="hideModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="panel-body">
                    <div>
                        <tabset>
                            <tab heading="Personal Information" id="tab1" style="padding-left:20px; height:450px;width:840px;border:solid 2px black;overflow:scroll;overflow-x:scroll;overflow-y:scroll;">
                                <div class="row">
                                    <div col-sm-12>
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <img src="../../../assets/images/{{popupvalues.registrationId}}/{{popupvalues.certificate.browsePhoto}}" style="border:1px solid black;"
                                                                hspace="20" class="img-rounded c_pic" alt="photo" width="200"
                                                                height="200">
                                                        </td>
                                                        <td>
                                                            <img src="../../../assets/images/{{popupvalues.registrationId}}/{{popupvalues.certificate.browseSignature}}" style="border:1px solid black;"
                                                                hspace="20" class="img-rounded s_pic" alt="signature" width="150"
                                                                height="150">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Fee(Amount)</td>
                                                        <td>Submit Succesfully</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="table table-bordered">
                                            <table class="table table-hover">

                                                <tr>
                                                    <td>Reg. No:</td>
                                                    <td>{{popupvalues.registrationId}}</td>
                                                </tr>

                                                <tr>
                                                    <td>POST NAME:</td>
                                                    <td>{{popupvalues.jobDetails.postName}}</td>
                                                </tr>

                                                <tr>
                                                    <td>Recruit Zone:</td>
                                                    <td>{{popupvalues.recruitmentZone}}</td>
                                                </tr>

                                                <tr>
                                                    <td>Cand. Name:</td>
                                                    <td>{{popupvalues.firstName}} {{popupvalues.middleName}} {{popupvalues.lastName}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Father's Name:</td>
                                                    <td>{{popupvalues.fatherName}}</td>
                                                </tr>

                                                <tr>
                                                    <td>Mother's Name:</td>
                                                    <td>{{popupvalues.motherName}}</td>
                                                </tr>

                                                <tr>
                                                    <td>Caste:</td>
                                                    <td>{{popupvalues.category}}</td>
                                                </tr>
                                                <tr>
                                                    <td>DOB:</td>
                                                    <td>{{popupvalues.dateOfBirth | date:'dd-MM-yyyy'}}</td>
                                                </tr>
                                                <!-- <tr>
                                                    <td>Age As on(Date):</td>
                                                    <td>24 YEAR 9 MONTH 5 DAYS</td>
                                                </tr> -->
                                                <tr>
                                                    <td>Gen:</td>
                                                    <td>{{popupvalues.gender}}</td>
                                                </tr>

                                                <tr>
                                                    <td>Mob No.:</td>
                                                    <td>{{popupvalues.mobileNumber}}</td>
                                                </tr>

                                                <tr>
                                                    <td>Email:</td>
                                                    <td>{{popupvalues.emailAddress}}</td>
                                                </tr>

                                                <tr>
                                                    <td>Nationality:</td>
                                                    <td>{{popupvalues.nationality}}</td>
                                                </tr>

                                                <tr>
                                                    <td>Aadhaar Card:</td>
                                                    <td *ngIf="popupvalues.aadhaarCard === true">Yes</td>
                                                    <td *ngIf="popupvalues.aadhaarCard === false">No</td>

                                                </tr>

                                                <tr>
                                                    <td>Aadhaar No.:</td>
                                                    <td *ngIf="popupvalues.aadhaarCard === true">{{popupvalues.aadhaarNumber}}</td>
                                                    <td *ngIf="popupvalues.aadhaarCard === false">No</td>

                                                </tr>

                                                <tr>
                                                    <td>Marital Status: </td>
                                                    <td>{{popupvalues.maritalStatus}}</td>
                                                </tr>

                                                <tr>
                                                    <td>Minority community:</td>
                                                    <td *ngIf="popupvalues.belongCommunity === true">Yes</td>
                                                    <td *ngIf="popupvalues.belongCommunity === false">No</td>

                                                </tr>
                                                <tr>
                                                    <td>Community:</td>
                                                    <td *ngIf="popupvalues.belongCommunity === true">{{popupvalues.communityName}}</td>
                                                    <td *ngIf="popupvalues.belongCommunity === false">No</td>

                                                </tr>

                                                  <tr>
                                            <td>Height</td>
                                            <td>{{popupvalues.candidateHeight}}</td>
                                        </tr>
                                        
                                         <tr>
                                            <td>Weight</td>
                                            <td>{{popupvalues.candidateWeight}}</td>
                                        </tr>

                                         <tr>
                                            <td>Blood Group</td>
                                            <td>{{popupvalues.bloodGroup}}</td>
                                        </tr>

                                         <tr>
                                            <td>EyeSight</td>
                                            <td>{{popupvalues.eyeSight}}</td>
                                        </tr>
                                                 

                                                <tr>
                                                    <td>Per.Address:</td>
                                                    <td>{{popupvalues.permanentAddress}}, {{popupvalues.permanentState}}, {{popupvalues.permanentCity}},
                                                        {{popupvalues.permanentPincode}}</td>
                                                </tr>

                                                <!-- <tr>
                                                    <td>State:</td>
                                                    <td>{{popupvalues.permanentState}}</td>
                                                </tr>
                                                <tr>
                                                    <td>City:</td>
                                                    <td>{{popupvalues.permanentCity}}</td>
                                                </tr>

                                                <tr>
                                                    <td>Pincode:</td>
                                                    <td>{{popupvalues.permanentPincode}}</td>
                                                </tr> -->
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                

                                            <tr>
                                                <td>Working/Ex-Staff of Central Government:</td>
                                                <td *ngIf="popupvalues.sonDaughterExservice === true">Yes</td>
                                                <td *ngIf="popupvalues.sonDaughterExservice === false">No</td>

                                            </tr>
                                    <tr>
                                        <td>Date:</td>
                                        <td *ngIf="popupvalues.centralGovt === true">{{popupvalues.servedFrom | date:'dd-MM-yyyy'}}</td>
                                         <td *ngIf="popupvalues.centralGovt === true">{{popupvalues.servedTo | date:'dd-MM-yyyy'}}</td>
                                        <td *ngIf="popupvalues.centralGovt === false">No</td>
                                          
                                    </tr>

                                    <tr>
                                         <td>Central Government Doc</td>

                                            <td>

                                                 <a target="_blank" href="../../../assets/images/{{popupvalues.registrationId}}/{{popupvalues.noccertificate}}" data-toggle="tooltip"
                                                    title="Open">
                                                    <span class="glyphicon glyphicon-eye-open"></span>
                                                 </a>
                                            </td>


                                            <td>
                                                <a href="" data-toggle="tooltip" title="Download">
                                                   <span class="glyphicon glyphicon-download-alt"></span>
                                                 </a>
                                             </td>
                                     </tr>

                                    <tr>
                                    <td>Employee/Ex-Employee of GREF/BRO:</td>
                                    <td *ngIf="popupvalues.sonDaughterExservice === true">Yes</td>
                                    <td *ngIf="popupvalues.sonDaughterExservice === false">No</td>

                                </tr>
                                 <tr>
                                        <td>Date:</td>
                                        <td *ngIf="popupvalues.empExGref === true">{{popupvalues.servedBroFrom | date:'dd-MM-yyyy'}}</td>
                                         <td *ngIf="popupvalues.empExGref === true">{{popupvalues.servedBroTo | date:'dd-MM-yyyy'}}</td>
                                        <td *ngIf="popupvalues.empExGref === false">No</td>
                                          
                                    </tr>
                                    <tr>
                                        <td>GS No:</td>
                                        <td *ngIf="popupvalues.empExGref === true">{{popupvalues.gsNumber}}</td>
                                        <td *ngIf="popupvalues.empExGref === false">No</td>
                                          
                                    </tr>
                                                 

                                                <tr>
                                                    <td>Son/Dau. Ex-serviceman:</td>
                                                    <td *ngIf="popupvalues.sonDaughterExservice === true">Yes</td>
                                                    <td *ngIf="popupvalues.sonDaughterExservice === false">No</td>

                                                </tr>
                                                <tr>
                                                    <td>Army No:</td>
                                                    <td *ngIf="popupvalues.sonDaughterExservice === true">{{popupvalues.armyNumber}}</td>
                                                    <td *ngIf="popupvalues.sonDaughterExservice === false">No</td>

                                                </tr>

                                                <tr>
                                                    <td>Rank:</td>
                                                    <td *ngIf="popupvalues.sonDaughterExservice === true">{{popupvalues.armyRank}}</td>
                                                    <td *ngIf="popupvalues.sonDaughterExservice === false">No</td>

                                                </tr>
                                                <tr>
                                                    <td>Son/Dau serving/retired GREF per:</td>
                                                    <td *ngIf="popupvalues.sonDaughterGref === true">Yes</td>
                                                    <td *ngIf="popupvalues.sonDaughterGref === false">No</td>

                                                </tr>
                                                <tr>
                                                    <td>GS NO.:</td>
                                                    <td *ngIf="popupvalues.sonDaughterGref === true">{{popupvalues.sonDaughterNumber}}</td>
                                                    <td *ngIf="popupvalues.sonDaughterGref === false">No</td>

                                                </tr>
                                                <tr>
                                                    <td>Rank:</td>
                                                    <td *ngIf="popupvalues.sonDaughterGref === true">{{popupvalues.sonDaughterRank}}</td>
                                                    <td *ngIf="popupvalues.sonDaughterGref === false">No</td>

                                                </tr>
                                                <tr>
                                                    <td>Name:</td>
                                                    <td *ngIf="popupvalues.sonDaughterGref === true">{{popupvalues.sonDaughterName}}</td>
                                                    <td *ngIf="popupvalues.sonDaughterGref === false">No</td>

                                                </tr>

                                                <tr>
                                                    <td>Brot/Sis serving in GREF/Army:</td>
                                                    <td *ngIf="popupvalues.brotherSisterGref === true">Yes</td>
                                                    <td *ngIf="popupvalues.brotherSisterGref === false">No</td>

                                                </tr>
                                                <tr>
                                                    <td>Army/GS No:</td>
                                                    <td *ngIf="popupvalues.brotherSisterGref === true">{{popupvalues.brotherSisterNumber}}</td>
                                                    <td *ngIf="popupvalues.brotherSisterGref === false">No</td>

                                                </tr>
                                                <tr>
                                                    <td>Rank:</td>
                                                    <td *ngIf="popupvalues.brotherSisterGref === true">{{popupvalues.brotherSisterRank}}</td>
                                                    <td *ngIf="popupvalues.brotherSisterGref === false">No</td>

                                                </tr>
                                                <tr>
                                                    <td>Name:</td>
                                                    <td *ngIf="popupvalues.brotherSisterGref === true">{{popupvalues.brotherSisterName}}</td>
                                                    <td *ngIf="popupvalues.brotherSisterGref === false">No</td>

                                                </tr>
                                                <tr>
                                                    <td>NCC "B":</td>
                                                    <td *ngIf="popupvalues.nccB === true">Yes</td>
                                                    <td *ngIf="popupvalues.nccB === false">No</td>

                                                </tr>
                                                <tr>
                                                    <td>NCC "B" Doc</td>

                                                    <td>

                                                        <a target="_blank" href="../../../assets/images/{{popupvalues.registrationId}}/{{popupvalues.nccbCertificate}}" data-toggle="tooltip"
                                                            title="Open">
                                                            <span class="glyphicon glyphicon-eye-open"></span>
                                                        </a>
                                                    </td>


                                                    <td>
                                                        <a href="" data-toggle="tooltip" title="Download">
                                                            <span class="glyphicon glyphicon-download-alt"></span>
                                                        </a>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>NCC "C":</td>
                                                    <td *ngIf="popupvalues.nccC === true">Yes</td>
                                                    <td *ngIf="popupvalues.nccC === false">No</td>

                                                </tr>
                                                <tr>
                                                    <td>NCC "C" Doc:</td>

                                                    <td>
                                                        <a target="_blank" href="../../../assets/images/{{popupvalues.registrationId}}/{{popupvalues.nccCertificate}}" data-toggle="tooltip"
                                                            title="Open">
                                                            <span class="glyphicon glyphicon-eye-open"></span>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="" data-toggle="tooltip" title="Download">
                                                            <span class="glyphicon glyphicon-download-alt"></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Sportsman:</td>
                                                    <td *ngIf="popupvalues.sportsman === true">Yes</td>
                                                    <td *ngIf="popupvalues.sportsman === false">No</td>

                                                </tr>
                                                <tr>
                                                    <td>Sportsman Doc:</td>

                                                    <td>
                                                        <a target="_blank" href="../../../assets/images/{{popupvalues.registrationId}}/{{popupvalues.sportCertificate}}" data-toggle="tooltip"
                                                            title="Open">
                                                            <span class="glyphicon glyphicon-eye-open"></span>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="" data-toggle="tooltip" title="Download">
                                                            <span class="glyphicon glyphicon-download-alt"></span>
                                                        </a>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>Post Address:</td>
                                                    <td>{{popupvalues.postalAddress}}, {{popupvalues.postalState}}, {{popupvalues.postalCity}},
                                                        {{popupvalues.postalPincode}}
                                                    </td>
                                                </tr>

                                                <!-- <tr>
                                                    <td>State:</td>
                                                    <td>{{popupvalues.postalState}}</td>
                                                </tr>

                                                <tr>
                                                    <td>City:</td>
                                                    <td>{{popupvalues.postalCity}}</td>
                                                </tr>

                                                <tr>
                                                    <td>Pincode:</td>
                                                    <td>{{popupvalues.postalPincode}}</td>
                                                </tr> -->

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="Qualification" id="tab1" style="padding-left:20px; height:450px;width:840px;border:solid 2px black;overflow:scroll;overflow-x:scroll;overflow-y:scroll;">

                                <div class="row">
                                    <h4>
                                        <u>High School</u>
                                    </h4>
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Year</th>
                                                    <th>Institute</th>
                                                    <th>Special</th>
                                                    <th>Course</th>
                                                    <th>Board</th>
                                                    <th>Tot.Marks</th>
                                                    <th>Obt.Marks</th>
                                                    <th>Percent</th>
                                                    <th>Document</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr>
                                                    <td>{{popupvalues.essential.highYear}}</td>
                                                    <td>{{popupvalues.essential.highInstitution}}</td>
                                                    <td>{{popupvalues.essential.highSpecialization}}</td>
                                                    <td>{{popupvalues.essential.highCourseType}}</td>
                                                    <td>{{popupvalues.essential.highBoard}}</td>
                                                    <td>{{popupvalues.essential.highTotalMarks}}</td>
                                                    <td>{{popupvalues.essential.highObtainMarks}}</td>
                                                    <td>{{popupvalues.essential.highPercentage}}%</td>
                                                    <td>
                                                        <a target="_blank" href="../../../assets/images/{{popupvalues.registrationId}}/{{popupvalues.essential.highCertificate}}" data-toggle="tooltip"
                                                            title="Open">
                                                            <span class="glyphicon glyphicon-eye-open"></span>
                                                        </a>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <a href="" data-toggle="tooltip" title="Download">
                                                            <span class="glyphicon glyphicon-download-alt"></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <!-- <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>
                                                        <a target="_blank" href="../../assets/images/{{popupvalues.registrationId}}/{{popupvalues.essential.highCertificate}}" data-toggle="tooltip" title="Open"><span class="glyphicon glyphicon-eye-open"></span></a>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <a href="" data-toggle="tooltip" title="Download"><span class="glyphicon glyphicon-download-alt"></span></a>
                                                    </td>
                                                </tr> -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <h4>
                                        <u>Intermediate</u>
                                    </h4>
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Year</th>
                                                    <th>Institute</th>
                                                    <th>Special</th>
                                                    <th>Course</th>
                                                    <th>Board</th>
                                                    <th>Tot.Marks</th>
                                                    <th>Obt.Marks</th>
                                                    <th>Percent</th>
                                                    <th>Document</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr>
                                                    <td>{{popupvalues.essential.interYear}}</td>
                                                    <td>{{popupvalues.essential.interInstitution}}</td>
                                                    <td>{{popupvalues.essential.interSpecialization}}</td>
                                                    <td>{{popupvalues.essential.interCourseType}}</td>
                                                    <td>{{popupvalues.essential.interBoard}}</td>
                                                    <td>{{popupvalues.essential.interTotalMarks}}</td>
                                                    <td>{{popupvalues.essential.interMarksObtain}}</td>
                                                    <td>{{popupvalues.essential.interPercentage}}%</td>
                                                    <td>
                                                        <a target="_blank" href="../../../assets/images/{{popupvalues.registrationId}}/{{popupvalues.essential.interCertificate}}" data-toggle="tooltip"
                                                            title="Open">
                                                            <span class="glyphicon glyphicon-eye-open"></span>
                                                        </a>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <a href="" data-toggle="tooltip" title="Download">
                                                            <span class="glyphicon glyphicon-download-alt"></span>
                                                        </a>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="row">
                                    <h4>
                                        <u>Graduation</u>
                                    </h4>
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Course</th>
                                                    <th>Passed</th>
                                                    <th>Institution</th>
                                                    <th>University</th>
                                                    <th>Special</th>
                                                    <th>Tot.Marks</th>
                                                    <th>Obt.Marks</th>
                                                    <th>Percent</th>
                                                    <th>Course</th>
                                                    <th>Document</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr>
                                                    <td>{{popupvalues.graduation.ugCourse}}</td>
                                                    <td>{{popupvalues.graduation.ugPassingYear}}</td>
                                                    <td>{{popupvalues.graduation.ugInstitution}}</td>
                                                    <td>{{popupvalues.graduation.ugUniversity}}</td>
                                                    <td>{{popupvalues.graduation.ugSpecialization}}</td>
                                                    <td>{{popupvalues.graduation.ugTotalMarks}}</td>
                                                    <td>{{popupvalues.graduation.ugObtainMarks}}</td>
                                                    <td>{{popupvalues.graduation.ugPercentage}}</td>
                                                    <td>{{popupvalues.graduation.ugCourseType}}</td>
                                                    <td>
                                                        <a target="_blank" href="../../../assets/images/{{popupvalues.registrationId}}/{{popupvalues.essential.interCertificate}}" data-toggle="tooltip"
                                                            title="Open">
                                                            <span class="glyphicon glyphicon-eye-open"></span>
                                                        </a>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <a href="" data-toggle="tooltip" title="Download">
                                                            <span class="glyphicon glyphicon-download-alt"></span>
                                                        </a>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="row">
                                    <h4>
                                        <u>P. Graduation</u>
                                    </h4>
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Course</th>
                                                    <th>Passed</th>
                                                    <th>Institution</th>
                                                    <th>University</th>
                                                    <th>Special</th>
                                                    <th>Tot.Marks</th>
                                                    <th>Obt.Marks</th>
                                                    <th>Percent</th>
                                                    <th>Course</th>
                                                    <th>Document</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr>
                                                    <td>{{popupvalues.graduation.pgCourse}}</td>
                                                    <td>{{popupvalues.graduation.pgPassingYear}}</td>
                                                    <td>{{popupvalues.graduation.pgInstitution}}</td>
                                                    <td>{{popupvalues.graduation.pgUniversity}}</td>
                                                    <td>{{popupvalues.graduation.pgSpecialization}}</td>
                                                    <td>{{popupvalues.graduation.pgTotalMarks}}</td>
                                                    <td>{{popupvalues.graduation.pgObtainMarks}}</td>
                                                    <td>{{popupvalues.graduation.pgPercentage}}%</td>
                                                    <td>{{popupvalues.graduation.pgCourseType}}</td>
                                                    <td>
                                                        <a target="_blank" href="../../../assets/images/{{popupvalues.registrationId}}/{{popupvalues.graduation.ugCertificate}}" data-toggle="tooltip"
                                                            title="Open">
                                                            <span class="glyphicon glyphicon-eye-open"></span>
                                                        </a>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <a href="" data-toggle="tooltip" title="Download">
                                                            <span class="glyphicon glyphicon-download-alt"></span>
                                                        </a>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="row">
                                    <h4>
                                        <u>Diploma</u>
                                    </h4>
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Diploma</th>
                                                    <th>Passed</th>
                                                    <th>Institute</th>
                                                    <th>University</th>
                                                    <th>Special</th>
                                                    <th>Tot.Marks</th>
                                                    <th>Obt.Marks</th>
                                                    <th>Percent</th>
                                                    <th>Course</th>
                                                    <th>Document</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr>
                                                    <td>{{popupvalues.technical.diplomaBranch}}</td>
                                                    <td>{{popupvalues.technical.diplomaYear}}</td>
                                                    <td>{{popupvalues.technical.diplomaInstitution}}</td>
                                                    <td>{{popupvalues.technical.diplomaUniversity}}</td>
                                                    <td>{{popupvalues.technical.diplomaSpecialization}}</td>
                                                    <td>{{popupvalues.technical.diplomaTotalMarks}}</td>
                                                    <td>{{popupvalues.technical.diplomaObtainMarks}}</td>
                                                    <td>{{popupvalues.technical.diplomaPercentage}}%</td>
                                                    <td>{{popupvalues.technical.diplomaCourseType}}</td>
                                                    <td>
                                                        <a target="_blank" href="../../../assets/images/{{popupvalues.registrationId}}/{{popupvalues.technical.diplomaCertificate}}"
                                                            data-toggle="tooltip" title="Open">
                                                            <span class="glyphicon glyphicon-eye-open"></span>
                                                        </a>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <a href="" data-toggle="tooltip" title="Download">
                                                            <span class="glyphicon glyphicon-download-alt"></span>
                                                        </a>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <h4>
                                        <u>Degree</u>
                                    </h4>
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Degree</th>
                                                    <th>Passed</th>
                                                    <th>Institute</th>
                                                    <th>University</th>
                                                    <th>Special</th>
                                                    <th>Tot.Marks</th>
                                                    <th>Obt.Marks</th>
                                                    <th>Percent</th>
                                                    <th>Course</th>
                                                    <th>Document</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr>
                                                    <td>{{popupvalues.technical.degreeBranch}}</td>
                                                    <td>{{popupvalues.technical.degreeYear}}</td>
                                                    <td>{{popupvalues.technical.degreeInstitution}}</td>
                                                    <td>{{popupvalues.technical.degreeUniversity}}</td>
                                                    <td>{{popupvalues.technical.degreeSpecialization}}</td>
                                                    <td>{{popupvalues.technical.degreeTotalMarks}}</td>
                                                    <td>{{popupvalues.technical.degreeMarksObtain}}</td>
                                                    <td>{{popupvalues.technical.degreePercentage}}%</td>
                                                    <td>{{popupvalues.technical.degreeCourseType}}</td>
                                                    <td>
                                                        <a target="_blank" href="../../../assets/images/{{popupvalues.registrationId}}/{{popupvalues.technical.degreeCertificate}}"
                                                            data-toggle="tooltip" title="Open">
                                                            <span class="glyphicon glyphicon-eye-open"></span>
                                                        </a>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <a href="" data-toggle="tooltip" title="Download">
                                                            <span class="glyphicon glyphicon-download-alt"></span>
                                                        </a>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="row">
                                    <h4>
                                        <u>Experience</u>
                                    </h4>
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Org.</th>
                                                    <th>CIN No.</th>
                                                    <th>Emp From</th>
                                                    <th>Emp To</th>
                                                    <th>Work</th>
                                                    <th>Salary</th>
                                                    <th>Per/Temp</th>
                                                    <th>Exp Doc</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr>
                                                    <td>{{popupvalues.experience.companyName}}</td>
                                                    <td>{{popupvalues.experience.cinNumber}}</td>
                                                    <td>{{popupvalues.experience.employmentFrom | date:'dd-MM-yyyy'}}</td>
                                                    <td>{{popupvalues.experience.employmentTo | date:'dd-MM-yyyy'}}</td>
                                                    <td>{{popupvalues.experience.workNature}}</td>
                                                    <td>{{popupvalues.experience.monthlySalary}}</td>
                                                    <td>{{popupvalues.experience.temporaryPermanent}}</td>
                                                    <td>
                                                        <a target="_blank" href="../../../assets/images/{{popupvalues.registrationId}}/{{popupvalues.experience.experienceCertificate}}"
                                                            data-toggle="tooltip" title="Open">
                                                            <span class="glyphicon glyphicon-eye-open"></span>
                                                        </a>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <a href="" data-toggle="tooltip" title="Download">
                                                            <span class="glyphicon glyphicon-download-alt"></span>
                                                        </a>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="row">
                                    <h4>
                                        <u>Driving Licence</u>
                                    </h4>
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>DL NO.</th>
                                                    <th>Issued</th>
                                                    <th>Valid</th>
                                                    <th>Auth</th>
                                                    <!-- <th>Upload DL</th> -->
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr>
                                                    <th>LMV</th>
                                                    <td>{{popupvalues.driving.licenceNumberLmv}}</td>
                                                    <td>{{popupvalues.driving.issueDateLmv | date:'dd-MM-yyyy'}}</td>
                                                    <td>{{popupvalues.driving.validUptoLmv | date:'dd-MM-yyyy'}}</td>
                                                    <td>{{popupvalues.driving.issuingAuthorityLmv}}</td>
                                                    <!-- <td>{{popupvalues.driving.}}</td> -->
                                                </tr>
                                                <tr>
                                                    <th>HGMV</th>
                                                    <td>{{popupvalues.driving.licenceNumberHgmv}}</td>
                                                    <td>{{popupvalues.driving.issueDateHlmv | date:'dd-MM-yyyy'}}</td>
                                                    <td>{{popupvalues.driving.validUptoHgmv | date:'dd-MM-yyyy'}}</td>
                                                    <td>{{popupvalues.driving.issuingAuthorityHlmv}}</td>
                                                    <!-- <td>Upload Succesfully</td> -->
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </tab>
                        </tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>