/* You can add global styles to this file, and also import other style files */
@media (min-width:768px){
.navbar .navbar-nav{
    display:inline-block;
	float:none;
	vertical-align:top;
}

.navbar .navbar-collapse{
     text-align:center;
   }
}

.navbar-default .navbar-collapse .nav >li  >a{
     color:#EEEEEE;
	 margin-left:10px;
	 margin-right:10px;
	 font-size:16px;
	 font-family:verdana;
	 font-family:bold;
}

.navbar-default .navbar-collapse .nav >li >a:hover , .navbar-default .navbar-collapse .nav >li >a:focus{
    color:#EEEEEE;
	background:#424242;
}
     
.dropdown-toggle .dropdown-toggle{
    background-color:#424242;
}

.dropdown-menu{
    background-color:#424242;
}
	 
.navbar-default .navbar-collapse .nav .dropdown-menu >li>a {
    color:#EEEEEE;
	font-weight:bold;
	font-family:verdana;
	font-family:bold;
	font-size:16px;
}

.navbar-default .navbar-collapse .nav .dropdown-menu>li>a:hover{
	background-color:#424242;
    background-image:none;
    color:#EEEEEE;		
}

.help-block,.has-error{
	color: red!important;
	font-size: 12px;
}

/* .form-control {
	height: 30px;
	width: 80%;
} */

.table-responsive .borderless table tr,td,thead,tbody,th{
    border-top-style: none !important;
    border-left-style: none !important;
    border-right-style: none !important;
    border-bottom-style: none !important;
	font-size:95%;
}

.c_pic{
	height:200px;
  	width:200px;
	border:solid black 1px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.s_pic{
	height:50px;
	width:200px;
	border:solid black 1px;
}

.clickPoint{
	cursor: pointer;
}

.btnc{
	height: 34px;
	width: 76px;
}
/* .sub_menu{ 
	margin-top:10px; 
	margin-left:10px; 
	margin-bottom:10px; 
	width:210px; 
	 border-radius: 10px; 
	 
	text-align:left;  
	color:white; 
	box-shadow: 7px 7px 4px LightGrey; 
	font-weight: bold;
	font-size:15px;
} 

.left_menu{ 

	padding-left:5px; 
}  */
		 
ul li a.tab_bar{
	border-radius: 5px;
	box-shadow: 7px 7px 4px Gainsboro   ;
	font-weight: bold;
	line-height:.7;
	color:Snow;
	background-color: DeepSkyBlue   ;
}

 ul li a.tab_bar:hover{
	background-color:DodgerBlue   ;
	color:Snow;

}

 a.sub_menu{ 
		margin-top:10px; 
		border-radius: 10px; 
		line-height:.8;
		box-shadow: 7px 7px 4px LightGrey; 
		font-weight: bold;
		font-size:14px;
		color:black;
		background-color:goldenrod;
	
	
	} 
a.sub_menu:hover{
	background-color:goldenrod;
	color:black;
}
ul li a.tab_bar{
	border-radius: 5px;
	box-shadow: 7px 7px 4px Gainsboro   ;
	font-weight: bold;
	line-height:.7;
	color:#DCE5F1;
	background-color: #0087FF  ;
}
 ul li a.tab_bar:hover{
	background-color:#0087FF   ;
	color:#DCE5F1;

}

hr.horizontal_row{
	border: 1px solid black;
}



#tab1{
	height:450px;
	width:840px;
	border:solid 2px black;
	overflow:scroll;
	overflow-x:scroll;
	overflow-y:scroll;

}


